<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/admin.css">
    <script src="/admin.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    <title>Admin panel | Kill music</title>
</head>
<body>

<% if (locals.auth == true) {%>
    <%- include('pages/admin-panel') %>




<% } else { %> 
    <form action="" method="post" class="auth">
        <h1>Войти в <br>Панель управления</h1>
        <a href="/">
            <svg>
                <use xlink:href="/main.svg#logo-svg"></use>
            </svg>
        </a> 
        <%- locals.say %>
        <input type="login" name="login" id="login" required placeholder="Login...">
        <input type="password" name="password" id="password" required placeholder="Password...">
        <button type="submit">Войти</button>
    </form>
<% } %>
 

</body>
</html>