<div class="book-call-screen" onclick="bookCall()">
</div>
<form class="book-call">
    <div class="close-btn" onclick="bookCall()">
        <svg>
            <use xlink:href="/main.svg#close-svg"></use>
        </svg>
    </div>
    <h1>Заказать звонок</h1>
    <div class="inp">
        <span>Имя</span>
        <input type="text" required>
    </div>
    <div class="inp">
        <span>Телефон</span>
        <input type="tel" required>
    </div>
    <button class="book-call-btn">
        <span>Заказать звонок</span>
    </button>
</form>
