<div class="catalog">
    <div class="sub-catalog">
        <a href=""><H1 onclick="scrollPageRight(this)">Внешний вид1</H1></a>
        <a href=""><span>item 1</span></a>
        <a href=""><span>item 2</span></a>
        <a href=""><span>item 3</span></a>
        <a href=""><span>item 4</span></a>
        <a href=""><span>item 5</span></a>
        <a href=""><span class="more">+ more...5</span></a>
    </div>
    <div class="sub-catalog">
        <a href=""><H1 onclick="scrollPageRight(this)">Внешний вид1</H1></a>
        <a href=""><span>item 1</span></a>
        <a href=""><span>item 2</span></a>
        <a href=""><span>item 3</span></a>
        <a href=""><span>item 4</span></a>
        <a href=""><span>item 5</span></a>
        <a href=""><span class="more">+ more...5</span></a>
    </div>
    <div class="sub-catalog">
        <a href=""><H1 onclick="scrollPageRight(this)">Внешний вид1</H1></a>
        <a href=""><span>item 1</span></a>
        <a href=""><span>item 2</span></a>
        <a href=""><span>item 3</span></a>
        <a href=""><span>item 4</span></a>
        <a href=""><span>item 5</span></a>
        <a href=""><span class="more">+ more...5</span></a>
    </div>
    <div class="sub-catalog">
        <a href=""><H1 onclick="scrollPageRight(this)">Внешний вид1</H1></a>
        <a href=""><span>item 1</span></a>
        <a href=""><span>item 2</span></a>
        <a href=""><span>item 3</span></a>
        <a href=""><span>item 4</span></a>
        <a href=""><span>item 5</span></a>
        <a href=""><span class="more">+ more...5</span></a>
    </div>
    <div class="sub-catalog">
        <a href=""><H1 onclick="scrollPageRight(this)">Внешний вид1</H1></a>
        <a href=""><span>item 1</span></a>
        <a href=""><span>item 2</span></a>
        <a href=""><span>item 3</span></a>
        <a href=""><span>item 4</span></a>
        <a href=""><span>item 5</span></a>
        <a href=""><span class="more">+ more...5</span></a>
    </div>
    <div class="sub-catalog">
        <a href=""><H1 onclick="scrollPageRight(this)">Внешний вид1</H1></a>
        <a href=""><span>item 1</span></a>
        <a href=""><span>item 2</span></a>
        <a href=""><span>item 3</span></a>
        <a href=""><span>item 4</span></a>
        <a href=""><span>item 5</span></a>
        <a href=""><span class="more">+ more...5</span></a>
    </div>
    <div class="sub-catalog">
        <a href=""><H1 onclick="scrollPageRight(this)">Внешний вид1</H1></a>
        <a href=""><span>item 1</span></a>
        <a href=""><span>item 2</span></a>
        <a href=""><span>item 3</span></a>
        <a href=""><span>item 4</span></a>
        <a href=""><span>item 5</span></a>
        <a href=""><span class="more">+ more...5</span></a>
    </div>
    <div class="sub-catalog">
        <a href=""><H1 onclick="scrollPageRight(this)">Внешний вид1</H1></a>
        <a href=""><span>item 1</span></a>
        <a href=""><span>item 2</span></a>
        <a href=""><span>item 3</span></a>
        <a href=""><span>item 4</span></a>
        <a href=""><span>item 5</span></a>
        <a href=""><span class="more">+ more...5</span></a>
    </div>
    <div class="sub-catalog">
        <a href=""><H1 onclick="scrollPageRight(this)">Внешний вид1</H1></a>
        <a href=""><span>item 1</span></a>
        <a href=""><span>item 2</span></a>
        <a href=""><span>item 3</span></a>
        <a href=""><span>item 4</span></a>
        <a href=""><span>item 5</span></a>
        <a href=""><span class="more">+ more...5</span></a>
    </div>
    <div class="sub-catalog">
        <a href=""><H1 onclick="scrollPageRight(this)">Внешний вид1</H1></a>
        <a href=""><span>item 1</span></a>
        <a href=""><span>item 2</span></a>
        <a href=""><span>item 3</span></a>
        <a href=""><span>item 4</span></a>
        <a href=""><span>item 5</span></a>
        <a href=""><span class="more">+ more...5</span></a>
    </div>
    <div class="sub-catalog">
        <a href=""><H1 onclick="scrollPageRight(this)">Внешний вид1</H1></a>
        <a href=""><span>item 1</span></a>
        <a href=""><span>item 2</span></a>
        <a href=""><span>item 3</span></a>
        <a href=""><span>item 4</span></a>
        <a href=""><span>item 5</span></a>
        <a href=""><span class="more">+ more...5</span></a>
    </div>
    <div class="sub-catalog">
        <a href=""><H1 onclick="scrollPageRight(this)">Внешний вид1</H1></a>
        <a href=""><span>item 1</span></a>
        <a href=""><span>item 2</span></a>
        <a href=""><span>item 3</span></a>
        <a href=""><span>item 4</span></a>
        <a href=""><span>item 5</span></a>
        <a href=""><span class="more">+ more...5</span></a>
    </div>
    <div class="sub-catalog">
        <a href=""><H1 onclick="scrollPageRight(this)">Внешний вид1</H1></a>
        <a href=""><span>item 1</span></a>
        <a href=""><span>item 2</span></a>
        <a href=""><span>item 3</span></a>
        <a href=""><span>item 4</span></a>
        <a href=""><span>item 5</span></a>
        <a href=""><span class="more">+ more...5</span></a>
    </div>
    <div class="sub-catalog">
        <a href=""><H1 onclick="scrollPageRight(this)">Внешний вид1</H1></a>
        <a href=""><span>item 1</span></a>
        <a href=""><span>item 2</span></a>
        <a href=""><span>item 3</span></a>
        <a href=""><span>item 4</span></a>
        <a href=""><span>item 5</span></a>
        <a href=""><span class="more">+ more...5</span></a>
    </div>
    <div class="sub-catalog">
        <a href=""><H1 onclick="scrollPageRight(this)">Внешний вид1</H1></a>
        <a href=""><span>item 1</span></a>
        <a href=""><span>item 2</span></a>
        <a href=""><span>item 3</span></a>
        <a href=""><span>item 4</span></a>
        <a href=""><span>item 5</span></a>
        <a href=""><span class="more">+ more...5</span></a>
    </div>
    <div class="sub-catalog">
        <a href=""><H1 onclick="scrollPageRight(this)">Внешний вид1</H1></a>
        <a href=""><span>item 1</span></a>
        <a href=""><span>item 2</span></a>
        <a href=""><span>item 3</span></a>
        <a href=""><span>item 4</span></a>
        <a href=""><span>item 5</span></a>
        <a href=""><span class="more">+ more...5</span></a>
    </div>
    <div class="sub-catalog">
        <a href=""><H1 onclick="scrollPageRight(this)">Внешний вид1</H1></a>
        <a href=""><span>item 1</span></a>
        <a href=""><span>item 2</span></a>
        <a href=""><span>item 3</span></a>
        <a href=""><span>item 4</span></a>
        <a href=""><span>item 5</span></a>
        <a href=""><span class="more">+ more...5</span></a>
    </div>
    <div class="sub-catalog">
        <a href=""><H1 onclick="scrollPageRight(this)">Внешний вид1</H1></a>
        <a href=""><span>item 1</span></a>
        <a href=""><span>item 2</span></a>
        <a href=""><span>item 3</span></a>
        <a href=""><span>item 4</span></a>
        <a href=""><span>item 5</span></a>
        <a href=""><span class="more">+ more...5</span></a>
    </div>
</div>