<div class="catalog">
    <div class="catalog-flex">
        <div class="catalog-one">
            <div class="catalog-first">
                <span>Внешний вид</span>
            </div>
            <div class="catalog-second">
                <span>Масло на ваз</span>
            </div>
            <div class="catalog-second">
                <span>Масло на ваз</span>
            </div>
            <div class="catalog-second">
                <span>Масло на ваз</span>
            </div>
            <div class="catalog-second">
                <span>Масло на ваз</span>
            </div>
            <div class="more-btn-catalog">
                <span>+ Ещё... 3</span>
            </div>
        </div>
    </div>
</div>