<div class="catalog">
    <div class="sub-catalog">
        <H1 onclick="scrollPageRight(this)">Внешний вид1</H1>
        <span>item 1</span>
        <span>item 2</span>
        <span>item 3</span>
        <span>item 4</span>
        <span>item 5</span>
        <span>more ++++</span>
    </div>
    <div class="sub-catalog">
        <H1 onclick="scrollPageRight(this)">Внешний вид2</H1>
        <span>item 1</span>
        <span>item 2</span>
        <span>item 3</span>
        <span>item 4</span>
        <span>item 5</span>
        <span>more ++++</span>
    </div>
    <div class="sub-catalog">
        <H1 onclick="scrollPageRight(this)">Внешний вид3</H1>
        <span>item 1</span>
        <span>item 2</span>
        <span>item 3</span>
        <span>item 4</span>
        <span>item 5</span>
        <span>more ++++</span>
    </div>
    <div class="sub-catalog">
        <H1>Внешний вид</H1>
        <span>item 1</span>
        <span>item 2</span>
        <span>item 3</span>
        <span>item 4</span>
        <span>item 5</span>
        <span>more ++++</span>
    </div>
    <div class="sub-catalog">
        <H1>Внешний вид</H1>
        <span>item 1</span>
        <span>item 2</span>
        <span>item 3</span>
        <span>item 4</span>
        <span>item 5</span>
        <span>more ++++</span>
    </div>
    <div class="sub-catalog">
        <H1>Внешний вид</H1>
        <span>item 1</span>
        <span>item 2</span>
        <span>item 3</span>
        <span>item 4</span>
        <span>item 5</span>
        <span>more ++++</span>
    </div>
    <div class="sub-catalog">
        <H1>Внешний вид</H1>
        <span>item 1</span>
        <span>item 2</span>
        <span>item 3</span>
        <span>item 4</span>
        <span>item 5</span>
        <span>more ++++</span>
    </div>
    <div class="sub-catalog">
        <H1>Внешний вид</H1>
        <span>item 1</span>
        <span>item 2</span>
        <span>item 3</span>
        <span>item 4</span>
        <span>item 5</span>
        <span>more ++++</span>
    </div>
    <div class="sub-catalog">
        <H1>Внешний вид</H1>
        <span>item 1</span>
        <span>item 2</span>
        <span>item 3</span>
        <span>item 4</span>
        <span>item 5</span>
        <span>more ++++</span>
    </div>
    <div class="sub-catalog">
        <H1>Внешний вид</H1>
        <span>item 1</span>
        <span>item 2</span>
        <span>item 3</span>
        <span>item 4</span>
        <span>item 5</span>
        <span>more ++++</span>
    </div>
    <div class="sub-catalog">
        <H1>Внешний вид</H1>
        <span>item 1</span>
        <span>item 2</span>
        <span>item 3</span>
        <span>item 4</span>
        <span>item 5</span>
        <span>more ++++</span>
    </div>
    <div class="sub-catalog">
        <H1>Внешний вид</H1>
        <span>item 1</span>
        <span>item 2</span>
        <span>item 3</span>
        <span>item 4</span>
        <span>item 5</span>
        <span>more ++++</span>
    </div>
    <div class="sub-catalog">
        <H1>Внешний вид</H1>
        <span>item 1</span>
        <span>item 2</span>
        <span>item 3</span>
        <span>item 4</span>
        <span>item 5</span>
        <span>more ++++</span>
    </div>
    <div class="sub-catalog">
        <H1>Внешний вид</H1>
        <span>item 1</span>
        <span>item 2</span>
        <span>item 3</span>
        <span>item 4</span>
        <span>item 5</span>
        <span>more ++++</span>
    </div>
    <div class="sub-catalog">
        <H1>Внешний вид</H1>
        <span>item 1</span>
        <span>item 2</span>
        <span>item 3</span>
        <span>item 4</span>
        <span>item 5</span>
        <span>more ++++</span>
    </div>
</div>