<div class="block-screen" onclick="menuSlider()"></div>
<div class="menu-slider">
    <div class="menu-slider-wrap">
        <div class="first-layer page">        
            <div class="back-btn-menu" onclick="menuSlider()">
                <svg class="arrow-back-svg-icon" onclick="showSearchInp()">
                    <use xlink:href="/main.svg#arrow-back-svg"></use>
                </svg>
                <span>Назад</span>
            </div>
            <div class="catalog">
                <span>Каталог1</span>
                <svg class="more-catalog-svg" onclick="showSearchInp()">
                    <use xlink:href="/main.svg#arrow-catalog-svg"></use>
                </svg>
            </div>
            .
        </div>
        <div class="second-layer page">        
            <div class="back-btn-menu" onclick="menuSlider()">
                <svg class="arrow-back-svg-icon" onclick="showSearchInp()">
                    <use xlink:href="/main.svg#arrow-back-svg"></use>
                </svg>
                <span>Назад</span>
            </div>
            <div class="catalog">
                <span>Каталог2</span>
                <svg class="more-catalog-svg" onclick="showSearchInp()">
                    <use xlink:href="/main.svg#arrow-catalog-svg"></use>
                </svg>
            </div>
        </div>
    </div>

</div>
