/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  overflow-y: scroll;
  width: 100%;
}

body {
  width: 100%;
  background: lightgrey;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
a:focus-visible {
  outline: 0;
}

.fullscreen-header {
  width: 100%;
  background: white;
}
.fullscreen-header .upper-header {
  width: 100%;
  height: 64px;
}
.fullscreen-header .upper-header .upper-header-block {
  display: flex;
  width: 80%;
  height: 64px;
  margin: auto;
}
.fullscreen-header .upper-header .upper-header-block .btn-call {
  display: flex;
  width: 210px;
  height: 64px;
}
.fullscreen-header .upper-header .upper-header-block .btn-call .phone-icon {
  width: 32px;
  height: 32px;
  margin: 18px 0 18px 0;
  transition: 0.2s;
  fill: grey;
}
.fullscreen-header .upper-header .upper-header-block .btn-call span {
  vertical-align: middle;
  text-align: center;
  line-height: 64px;
  font-size: 20px;
  color: grey;
  transition: 0.2s;
}
.fullscreen-header .upper-header .upper-header-block .btn-call:hover .phone-icon {
  fill: #FF6600;
}
.fullscreen-header .upper-header .upper-header-block .btn-call:hover span {
  color: #FF6600;
}
.fullscreen-header .upper-header .upper-header-block .upper-header-block-btn {
  display: flex;
  width: calc(100% - 210px);
  height: 64px;
  line-height: 64px;
}
.fullscreen-header .upper-header .upper-header-block .upper-header-block-btn .request-call {
  margin-left: 20px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  color: #FF6600;
  transition: 0.2s;
}
.fullscreen-header .upper-header .upper-header-block .upper-header-block-btn .request-call:hover {
  color: grey;
}
.fullscreen-header .upper-header .upper-header-block .upper-header-block-btn a {
  height: 64px;
  margin-left: 20px;
  font-size: 16px;
  color: grey;
  transition: 0.2s;
}
.fullscreen-header .upper-header .upper-header-block .upper-header-block-btn a:hover {
  color: #FF6600;
}
.fullscreen-header .bottom-header {
  width: 100%;
  height: 128px;
  border-top: 1px solid whitesmoke;
}
.fullscreen-header .bottom-header .bottom-header-block {
  display: flex;
  width: 80%;
  height: 128px;
  margin: auto;
}
.fullscreen-header .bottom-header .bottom-header-block .bottom-header-block-btn-logo .logo-svg {
  width: 250px;
  height: 128px;
  fill: #FF6600;
}
.fullscreen-header .bottom-header .bottom-header-block .headerCatalogBtn {
  display: flex;
  width: 175px;
  height: 50px;
  line-height: 46px;
  margin-left: 10px;
  margin-top: 39px;
  border: 2px solid #FF6600;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  transition: 0.2s;
}
.fullscreen-header .bottom-header .bottom-header-block .headerCatalogBtn .grid-svg {
  width: 46px;
  height: 46px;
  fill: rgba(0, 0, 0, 0);
  stroke: #FF6600;
  transition: 0.2s;
}
.fullscreen-header .bottom-header .bottom-header-block .headerCatalogBtn span {
  color: #FF6600;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  transition: 0.2s;
}
.fullscreen-header .bottom-header .bottom-header-block .headerCatalogBtn .arrow-header-svg {
  width: 22px;
  height: 22px;
  margin: 12px;
  fill: #FF6600;
  transition: 0.2s;
}
.fullscreen-header .bottom-header .bottom-header-block .headerCatalogBtn:hover {
  background: #FF6600;
}
.fullscreen-header .bottom-header .bottom-header-block .headerCatalogBtn:hover .grid-svg {
  stroke: white;
}
.fullscreen-header .bottom-header .bottom-header-block .headerCatalogBtn:hover span {
  color: white;
}
.fullscreen-header .bottom-header .bottom-header-block .headerCatalogBtn:hover .arrow-header-svg {
  fill: white;
}
.fullscreen-header .bottom-header .bottom-header-block .btnActiveCatalogHeader {
  background: #FF6600;
}
.fullscreen-header .bottom-header .bottom-header-block .btnActiveCatalogHeader .grid-svg {
  fill: white;
  stroke: rgba(0, 0, 0, 0);
}
.fullscreen-header .bottom-header .bottom-header-block .btnActiveCatalogHeader span {
  color: white;
}
.fullscreen-header .bottom-header .bottom-header-block .btnActiveCatalogHeader .arrow-header-svg {
  fill: white;
  transform: rotate(180deg);
}
.fullscreen-header .bottom-header .bottom-header-block .btnActiveCatalogHeader:hover .grid-svg {
  stroke: rgba(0, 0, 0, 0);
}
.fullscreen-header .bottom-header .bottom-header-block .href-bottom-header {
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 50px;
  margin-left: 20px;
  margin-top: 39px;
  transition: 0.2s;
}
.fullscreen-header .bottom-header .bottom-header-block .href-bottom-header:hover {
  color: #FF6600;
}
.fullscreen-header .bottom-header .bottom-header-block .inp-bottom-header {
  display: flex;
  width: calc(100% - 790px);
  height: 50px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin-left: auto;
  margin-top: 39px;
  margin-right: 0;
}
.fullscreen-header .bottom-header .bottom-header-block .inp-bottom-header input {
  border: 0;
  height: 50px;
  width: calc(100% - 50px);
  background: 0;
  border-radius: 10px;
  padding: 0;
  padding-left: 10px;
}
.fullscreen-header .bottom-header .bottom-header-block .inp-bottom-header input:focus-visible {
  outline: 0;
}
.fullscreen-header .bottom-header .bottom-header-block .inp-bottom-header button {
  background: 0;
  border: 0px;
  width: 50px;
  height: 48px;
  padding: 0;
  cursor: pointer;
  background: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.2s;
}
.fullscreen-header .bottom-header .bottom-header-block .inp-bottom-header button .search-svg-icon {
  width: 32px;
  height: 32px;
  margin: auto;
  fill: grey;
  transition: 0.2s;
}
.fullscreen-header .bottom-header .bottom-header-block .inp-bottom-header button:hover {
  background: rgba(201, 201, 201, 0.7);
}
.fullscreen-header .bottom-header .bottom-header-block .inp-bottom-header button:hover .search-svg-icon {
  fill: #FF6600;
}
.fullscreen-header .bottom-header .bottom-header-block .inp-bottom-header button:focus-visible {
  outline: 0;
}
.fullscreen-header .bottom-header .bottom-header-block .liked-product-cart-bottom-header {
  width: 50px;
  height: 50px;
  position: relative;
  margin-top: 39px;
  margin-left: 20px;
}
.fullscreen-header .bottom-header .bottom-header-block .liked-product-cart-bottom-header .like-cart-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin: 9px;
  transition: 0.2s;
}
.fullscreen-header .bottom-header .bottom-header-block .liked-product-cart-bottom-header .like-cart-icon:hover {
  fill: #FF6600;
}
.fullscreen-header .bottom-header .bottom-header-block .liked-product-cart-bottom-header span {
  position: absolute;
  top: auto;
  bottom: 0;
  right: -10px;
  width: 20px;
  height: 20px;
  width: 18px;
  height: 17px;
  font-size: 0.8em;
  line-height: 17px;
  color: #fff;
  border-radius: 100%;
  text-align: center;
  box-shadow: none;
  background: #FF6600;
}

.mobile-screen-header {
  display: none;
  width: 100%;
  height: 64px;
  background: white;
}
.mobile-screen-header .menu-btn-header {
  width: 40px;
  height: 40px;
  margin: 12px;
  transition: fill 0.2s;
  cursor: pointer;
}
.mobile-screen-header .menu-btn-header:hover {
  fill: #FF6600;
}
.mobile-screen-header a {
  height: 64px;
  margin: auto;
}
.mobile-screen-header a .logo-btn-header-mobil {
  width: 300px;
  height: 40px;
  margin: 12px;
  transition: width 0.2s;
}
.mobile-screen-header a .logo-btn-header-mobil.active {
  width: 0px !important;
}
.mobile-screen-header .search-mobile-header {
  display: flex;
  height: 64px;
  right: 0;
  margin-left: auto;
  margin-right: 0px;
  width: 64px;
  max-width: calc(100% - 152px);
  transition: width 0.3s;
}
.mobile-screen-header .search-mobile-header.active {
  width: 100% !important;
}
.mobile-screen-header .search-mobile-header .search-svg-mobile-header {
  width: 40px;
  height: 40px;
  margin: 12px;
  transition: fill 0.2s;
  cursor: pointer;
}
.mobile-screen-header .search-mobile-header .search-svg-mobile-header:hover {
  fill: #FF6600;
}
.mobile-screen-header .search-mobile-header .inp-hide-header {
  margin-top: 12px;
  height: 40px;
  width: 0px;
  border: 0px;
  padding: 0;
  transition: width 0.2s;
}
.mobile-screen-header .search-mobile-header .inp-hide-header:focus-visible {
  outline: 0;
}
.mobile-screen-header .search-mobile-header .inp-show-onclick {
  width: calc(100% - 64px);
  border-bottom: 1px solid grey;
}
.mobile-screen-header .cart-btn-header-mobil {
  width: 40px;
  height: 40px;
  margin: 12px;
  transition: fill 0.2s;
  cursor: pointer;
  align-self: flex-end;
}
.mobile-screen-header .cart-btn-header-mobil:hover {
  fill: #FF6600;
}

@media screen and (max-width: 1200px) {
  .fullscreen-header .upper-header .upper-header-block {
    width: calc(100% - 40px);
  }
  .fullscreen-header .bottom-header .bottom-header-block {
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 970px) {
  .fullscreen-header {
    display: none;
  }
  .mobile-screen-header {
    display: flex;
  }
}
@media screen and (max-width: 533px) {
  .mobile-screen-header .menu-btn-header {
    width: 24px;
    height: 24px;
    margin: 20px;
  }
  .mobile-screen-header a .logo-btn-header-mobil {
    width: 230px;
    height: 24px;
    margin: 0;
    margin-top: 20px;
  }
  .mobile-screen-header .search-mobile-header {
    height: 64px;
    width: 24px;
    max-width: calc(100% - 110px);
  }
  .mobile-screen-header .search-mobile-header .search-svg-mobile-header {
    width: 24px;
    height: 24px;
    margin: 0px;
    margin-top: 20px;
  }
  .mobile-screen-header .cart-btn-header-mobil {
    width: 24px;
    height: 24px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=main.css.map */