/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  overflow-y: scroll;
  width: 100%;
}

body {
  width: 100%;
  background: lightgrey;
  text-align: center;
  font-family: "Lora", serif;
}

a {
  text-decoration: none;
  color: black;
}
a:focus-visible {
  outline: 0;
}

header {
  width: 100%;
  background: white;
}
header .upper-header {
  width: 100%;
  height: 64px;
}
header .upper-header .upper-header-block {
  display: flex;
  width: 80%;
  height: 64px;
  margin: auto;
}
header .upper-header .upper-header-block .btn-call {
  display: flex;
  width: 210px;
  height: 64px;
}
header .upper-header .upper-header-block .btn-call .phone-icon {
  width: 32px;
  height: 32px;
  margin: 18px 5px 18px 5px;
  transition: 0.2s;
  fill: grey;
}
header .upper-header .upper-header-block .btn-call span {
  vertical-align: middle;
  text-align: center;
  line-height: 64px;
  font-size: 20px;
  color: grey;
  transition: 0.2s;
}
header .upper-header .upper-header-block .btn-call:hover .phone-icon {
  fill: #FF6600;
}
header .upper-header .upper-header-block .btn-call:hover span {
  color: #FF6600;
}
header .upper-header .upper-header-block .upper-header-block-btn {
  display: flex;
  width: calc(100% - 210px);
  height: 64px;
  line-height: 64px;
}
header .upper-header .upper-header-block .upper-header-block-btn .request-call {
  margin-left: 20px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  color: #FF6600;
  transition: 0.2s;
}
header .upper-header .upper-header-block .upper-header-block-btn .request-call:hover {
  color: grey;
}
header .upper-header .upper-header-block .upper-header-block-btn a {
  height: 64px;
  margin-left: 20px;
  font-size: 16px;
  color: grey;
  transition: 0.2s;
}
header .upper-header .upper-header-block .upper-header-block-btn a:hover {
  color: #FF6600;
}
header .bottom-header {
  width: 100%;
  height: 128px;
}
header .bottom-header .bottom-header-block {
  display: flex;
  width: 80%;
  height: 128px;
  margin: auto;
}
header .bottom-header .bottom-header-block .bottom-header-block-btn-logo .logo-svg {
  width: 300px;
  height: 128px;
  fill: #FF6600;
}/*# sourceMappingURL=main.css.map */