$primary-orange: #FF6600;


/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

//end of defaults

html {
    overflow-y: scroll;
    width: 100%;
}

body {
    width: 100%;
    background: lightgrey;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;

    &:focus-visible {
        outline: 0;
    }
}

//header css

.fullscreen-header {
    width: 100%;
    background: white;

    .upper-header {
        width: 100%;
        height: 64px;

        .upper-header-block {
            display: flex;
            width: 80%;
            height: 64px;
            margin: auto;
        

            .btn-call {
                display: flex;
                width: 210px;
                height: 64px;
                
                .phone-icon {
                    width: 32px;
                    height: 32px;
                    margin: 18px 0 18px 0;
                    transition: .2s;
                    fill: grey;
                }

                span {
                    vertical-align: middle;
                    text-align: center;
                    line-height: 64px;
                    font-size: 20px;
                    color: grey;
                    transition: .2s;
                }
                &:hover {
                    .phone-icon {
                        fill: $primary-orange;
                    }
            
                    span {
                        color: $primary-orange;
                    }
            
                }
            }

            .upper-header-block-btn {
                display: flex;
                width: calc(100% - 210px);
                height: 64px;
                line-height: 64px;

                .request-call {
                    margin-left: 20px;
                    cursor: pointer;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: $primary-orange;
                    transition: .2s;

                    &:hover {
                            color: grey;
                    }
                }

                a {
                    height: 64px;
                    margin-left: 20px;
                    font-size: 16px;
                    color: grey;
                    transition: .2s;

                    &:hover {
                        color: $primary-orange;
                    }
                }
            }
        }
    }

    .bottom-header{
        width: 100%;
        height: 128px;
        border-top: 1px solid whitesmoke;

        .bottom-header-block {
            display: flex;
            width: 80%;
            height: 128px;
            margin: auto;

            .bottom-header-block-btn-logo {
                .logo-svg{
                    width: 250px;
                    height: 128px;
                    fill: $primary-orange;
                }
            }

            .headerCatalogBtn{
                display: flex;
                width: 175px;
                height: 50px;
                line-height: 46px;
                margin-left: 10px;
                margin-top: 39px;
                border: 2px solid $primary-orange;
                border-radius: 10px;
                background: white;
                cursor: pointer;
                transition: .2s;

                .grid-svg {
                    width: 46px;
                    height: 46px;
                    fill: rgba(0,0,0,0);
                    stroke: $primary-orange;
                    transition: .2s;
                }

                span {
                    color: $primary-orange;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 18px;
                    transition: .2s;
                }

                .arrow-header-svg {
                    width: 22px;
                    height: 22px;
                    margin: 12px;
                    fill: $primary-orange;
                    transition: .2s;
                }

                &:hover {
                    background: $primary-orange;

                    .grid-svg {
                        stroke: white;
                    }
    
                    span {
                        color:white
                    }
    
                    .arrow-header-svg {
                        fill: white;
                    }
                }
            }

            .btnActiveCatalogHeader {
                background: $primary-orange;

                .grid-svg {
                    fill: white;
                    stroke: rgba(0,0,0,0);
                }

                span {
                    color:white
                }

                .arrow-header-svg {
                    fill: white;
                    transform: rotate(180deg);
                }

                &:hover {
                    .grid-svg {
                        stroke: rgba(0,0,0,0);
                    }
                }
            }

            .href-bottom-header{
                height: 50px;
                text-align: center;
                text-transform: uppercase;
                font-size: 18px;
                line-height: 50px;
                margin-left: 20px;
                margin-top: 39px;
                transition: .2s;

                &:hover {
                    color: $primary-orange;
                }
            }

            .inp-bottom-header {
                display: flex;
                width: calc(100% - 790px);
                height: 50px;
                border: 1px solid lightgrey;
                border-radius: 10px;
                margin-left: auto;
                margin-top: 39px;
                margin-right: 0;

                input {
                    border: 0;
                    height: 50px;
                    width: calc(100% - 50px);
                    background: 0;
                    border-radius: 10px;
                    padding: 0;
                    padding-left: 10px;

                    &:focus-visible{
                        outline: 0;
                    }
                }

                button {
                    background: 0;
                    border: 0px;
                    width: 50px;
                    height: 48px;
                    padding: 0;
                    cursor: pointer;
                    background: 0;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    transition: .2s;

                    .search-svg-icon {
                        width: 32px;
                        height: 32px;
                        margin: auto;
                        fill: grey;
                        transition: .2s;
                    }

                    &:hover {
                        background: rgba(201, 201, 201, .7);

                        .search-svg-icon{
                            fill: $primary-orange;
                        }
                    }

                    &:focus-visible{
                        outline: 0;
                    }
                }
            }

            .liked-product-cart-bottom-header {
                width: 50px;
                height: 50px;
                position: relative;
                margin-top: 39px;
                margin-left: 20px;

                .like-cart-icon {
                    width: 32px;
                    height: 32px;
                    cursor: pointer;
                    margin: 9px;
                    transition: .2s;

                    &:hover {
                        fill: $primary-orange;
                    }
                }

                span {
                    position: absolute;
                    top: auto;
                    bottom: 0;
                    right: -10px;
                    width: 20px;
                    height: 20px;
                    width: 18px;
                    height: 17px;
                    font-size: .8em;
                    line-height: 17px;
                    color: #fff;
                    border-radius: 100%;
                    text-align: center;
                    box-shadow: none;
                    background: $primary-orange;
                }
            }
        }
    }
}

.mobile-screen-header {
    display: none;
    width: 100%;
    height: 64px;
    background: white;

    .menu-btn-header {
        width: 40px;
        height: 40px;
        margin: 12px;
        fill: black;
        transition: fill .2s;
        cursor: pointer;

        &:hover {
            fill: $primary-orange;
        }
    }
    
    a{
        height: 64px;
        margin: auto;

        .logo-btn-header-mobil {
            width: 300px;
            height: 40px;
            margin: 12px;
            transition: width .2s;

            &.active {
                width: 0px !important;
            }
        }

    }
    

    .search-mobile-header {
        display: flex;
        height: 64px;
        margin-right: 0px;
        width: 64px;
        max-width: calc(100% - 152px);
        transition: width .3s;

        &.active {
          width: 100%  !important;
        }

        .search-svg-mobile-header{
            width: 40px;
            height: 40px;
            margin: 12px;
            transition: fill .2s;
            cursor: pointer;

            &:hover {
                fill: $primary-orange;
            }
        }

        .inp-hide-header {
            margin-top: 12px;
            height: 40px;
            width: 0px;
            border: 0px;
            padding: 0;
            
            transition: width .2s;
            &:focus-visible{
                outline: 0;
            }
        }

        .inp-show-onclick {
            width: calc(100% - 64px);
            border-bottom: 1px solid grey;
        }
    }

    .cart-btn-header-mobil{
        width: 40px;
        height: 40px;
        margin: 12px;
        transition: fill .2s;
        cursor: pointer;
        align-self: flex-end;

        &:hover {
            fill: $primary-orange;
        }
    }
}

.block-screen {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(150, 150, 150, .7);

    &.active {
        opacity: 1;
        pointer-events: all;
    }
}

.menu-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 300px;
    background: white;
    overflow: hidden;
    transition: left .2s;

    &.active {
        left: 0;
    }

    &-wrap {
        display:flex;
        width: fit-content;
        transition: margin-left .3s;
        
    
        .page{
            width: 300px; 

            .back-btn-menu{
                display: flex;
                width: 100%;
                height: 64px;
                cursor: pointer;

                .arrow-back-svg-icon{
                    width: 24px;
                    height: 24px;
                    margin: 20px;
                    margin-left: 12px;
                    transform: rotate(-90deg);
                    transition: .2s;
                }

                span{
                    line-height: 64px;
                    transition: .2s;
                }

                &:hover {
                    .arrow-back-svg-icon{
                        fill: $primary-orange;
                    }

                    span{
                        color: $primary-orange;
                    }
                }
            }

            .catalog{
                display: flex;
                width: 100%;
                height: 64px;
                line-height: 64px;
                justify-content: space-between;
                transition: color .2s;
                cursor: pointer;
    
                span{
                    font-size: 18px;
                    margin-left: 12px;
                    
                }
    
                .more-catalog-svg{
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    margin: 22px;
                    transform: rotate(90deg);
                    transition: fill .2s;
                }
    
                &:hover {
                    color: $primary-orange;
                    fill: $primary-orange;
    
                }
            }

            h3 {
                text-align: left;
                margin-left: 12px;
                color: $primary-orange;
                width: calc(100% - 12px);
                height: 64px;
                line-height: 64px;
            }

            h4{
                text-align: left;
                margin: 12px;
                width: calc(100% - 24px);
            }

            a{
                .btn-menu-a{
                    width: calc(100% - 12px);
                    height: 64px;
                    line-height: 64px;
                    text-align: left;
                    font-size: 18px;
                    padding-left: 12px;
                    transition: color .2s;

                    &:hover {
                        color: $primary-orange;
                    }
                }

                .contact-menu-btn{
                    display: flex;
                    width: 100%;
                    height: 64px;
                    line-height: 64px;
                    transition: color .2s;
                    font-size: 14px;
                    fill: black;


                    .phone-svg-menu{
                        width: 24px;
                        height: 24px;
                        margin: 20px;
                        margin-left: 12px;
                        transition: fill .2s;
                    }

                    &:hover {
                        color: $primary-orange;
                        fill: $primary-orange;
                    }
                }

                fill: #5281b8;

                .vk-svg-menu{
                    width: 40px;
                    height: 40px;
                    transition: fill .2s;
                }

                &:hover {
                    fill: rgba(82, 129, 184, .7);
                }
                
            }
        }
    }
}

@media screen and (max-width: 1200px){
    .fullscreen-header {
        .upper-header {
    
            .upper-header-block {
                width: calc(100% - 40px);
            }
        }

        .bottom-header{
    
            .bottom-header-block {
                width: calc(100% - 40px);
            }
        }
    }
}

@media screen and (max-width: 970px){
    .fullscreen-header {
        display: none;
    }

    .mobile-screen-header {
        display: flex;
    }
}

@media screen and (max-width: 533px){
    .mobile-screen-header{
        .menu-btn-header{
            width: 24px;
            height: 24px;
            margin: 20px;
        }

        a {
            .logo-btn-header-mobil {
                width: 230px;
                height: 24px;
                margin: 0;
                margin-top: 20px;
            }
        }

        .search-mobile-header {
            height: 64px;
            width: 24px;
            max-width: calc(100% - 110px);

            .search-svg-mobile-header{
                width: 24px;
                height: 24px;
                margin: 0px;
                margin-top: 20px;
            }
        }

        .cart-btn-header-mobil{
            width: 24px;
            height: 24px;
            margin-top: 20px;
            margin-left: 10px;
            margin-bottom: 20px;
        }
    }
}
