/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  caret-color: #FF6600;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  overflow-y: scroll;
  width: 100%;
}

body {
  width: 100%;
  background: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
a:focus-visible {
  outline: 0;
}

.book-call-screen {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(153, 153, 153, 0.4);
  z-index: 100;
}
.book-call-screen.active {
  display: flex;
}

.book-call {
  position: absolute;
  display: none;
  top: calc(50% - 199px);
  left: calc(50% - 300px);
  width: 600px;
  height: 400px;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(153, 153, 153, 0.8);
  overflow-y: scroll;
  z-index: 101;
}
.book-call.active {
  display: block;
}
.book-call::-webkit-scrollbar {
  width: 0px;
}
.book-call .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 5px;
  background: rgba(0, 0, 0, 0);
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: 0.2s;
}
.book-call .close-btn svg {
  width: 50px;
  height: 50px;
  margin: 5px;
  stroke: black;
  transition: stroke 0.2s;
}
.book-call .close-btn:hover {
  background: rgba(153, 153, 153, 0.4);
}
.book-call .close-btn:hover svg {
  stroke: #FF6600;
}
.book-call h1 {
  font-weight: inherit;
  margin-top: 50px;
  margin-bottom: 25px;
}
.book-call .inp {
  margin: auto;
  margin-top: 20px;
  width: 80%;
  text-align: left;
}
.book-call .inp span {
  font-size: 18px;
}
.book-call .inp input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border-radius: 10px;
  background: whitesmoke;
  border: 1px solid lightgrey;
  transition: 0.2s;
}
.book-call .inp input:hover {
  border-color: grey;
}
.book-call .inp input:focus-visible {
  outline: 0;
}
.book-call .book-call-btn {
  width: 80%;
  height: 50px;
  margin: auto;
  margin-top: 40px;
  border: 0px;
  border-radius: 5px;
  background: #FF6600;
  line-height: 50px;
  color: white;
  cursor: pointer;
}

header {
  box-shadow: 0px 5px 10px rgba(186, 186, 186, 0.2);
  z-index: 10;
}

.fullscreen-header {
  width: 100%;
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: -64px;
}
.fullscreen-header .upper-header {
  width: 100%;
  height: 64px;
}
.fullscreen-header .upper-header .upper-header-block {
  display: flex;
  width: 80%;
  height: 64px;
  margin: auto;
}
.fullscreen-header .upper-header .upper-header-block .btn-call {
  display: flex;
  width: 210px;
  height: 64px;
}
.fullscreen-header .upper-header .upper-header-block .btn-call .phone-icon {
  width: 32px;
  height: 32px;
  margin: 18px 0 18px 0;
  transition: 0.2s;
  fill: grey;
}
.fullscreen-header .upper-header .upper-header-block .btn-call span {
  vertical-align: middle;
  text-align: center;
  line-height: 64px;
  font-size: 20px;
  color: grey;
  transition: 0.2s;
}
.fullscreen-header .upper-header .upper-header-block .btn-call:hover .phone-icon {
  fill: #FF6600;
}
.fullscreen-header .upper-header .upper-header-block .btn-call:hover span {
  color: #FF6600;
}
.fullscreen-header .upper-header .upper-header-block .upper-header-block-btn {
  display: flex;
  width: calc(100% - 210px);
  height: 64px;
  line-height: 64px;
}
.fullscreen-header .upper-header .upper-header-block .upper-header-block-btn .request-call {
  margin-left: 20px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  color: #FF6600;
  transition: 0.2s;
}
.fullscreen-header .upper-header .upper-header-block .upper-header-block-btn .request-call:hover {
  color: grey;
}
.fullscreen-header .upper-header .upper-header-block .upper-header-block-btn a {
  height: 64px;
  margin-left: 20px;
  font-size: 16px;
  color: grey;
  transition: 0.2s;
}
.fullscreen-header .upper-header .upper-header-block .upper-header-block-btn a:hover {
  color: #FF6600;
}
.fullscreen-header .bottom-header {
  position: relative;
  width: 100%;
  height: 128px;
  border-top: 1px solid whitesmoke;
}
.fullscreen-header .bottom-header .bottom-header-block {
  display: flex;
  width: 80%;
  height: 128px;
  margin: auto;
}
.fullscreen-header .bottom-header .bottom-header-block .bottom-header-block-btn-logo .logo-svg {
  width: 250px;
  height: 128px;
  fill: #FF6600;
}
.fullscreen-header .bottom-header .bottom-header-block .headerCatalogBtn {
  position: relative;
  display: flex;
  width: 175px;
  height: 50px;
  line-height: 46px;
  margin-left: 10px;
  margin-top: 39px;
  border: 2px solid #FF6600;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  transition: 0.2s;
}
.fullscreen-header .bottom-header .bottom-header-block .headerCatalogBtn .grid-svg {
  width: 46px;
  height: 46px;
  fill: rgba(0, 0, 0, 0);
  stroke: #FF6600;
  transition: 0.2s;
}
.fullscreen-header .bottom-header .bottom-header-block .headerCatalogBtn span {
  color: #FF6600;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  transition: 0.2s;
}
.fullscreen-header .bottom-header .bottom-header-block .headerCatalogBtn .arrow-header-svg {
  width: 22px;
  height: 22px;
  margin: 12px;
  fill: #FF6600;
  transform: rotate(180deg);
  transition: 0.2s;
}
.fullscreen-header .bottom-header .bottom-header-block .headerCatalogBtn:hover {
  background: #FF6600;
}
.fullscreen-header .bottom-header .bottom-header-block .headerCatalogBtn:hover .grid-svg {
  stroke: white;
}
.fullscreen-header .bottom-header .bottom-header-block .headerCatalogBtn:hover span {
  color: white;
}
.fullscreen-header .bottom-header .bottom-header-block .headerCatalogBtn:hover .arrow-header-svg {
  fill: white;
}
.fullscreen-header .bottom-header .bottom-header-block .btnActiveCatalogHeader {
  background: #FF6600;
}
.fullscreen-header .bottom-header .bottom-header-block .btnActiveCatalogHeader .grid-svg {
  fill: white;
  stroke: rgba(0, 0, 0, 0);
}
.fullscreen-header .bottom-header .bottom-header-block .btnActiveCatalogHeader span {
  color: white;
}
.fullscreen-header .bottom-header .bottom-header-block .btnActiveCatalogHeader .arrow-header-svg {
  fill: white;
  transform: rotate(0deg);
}
.fullscreen-header .bottom-header .bottom-header-block .btnActiveCatalogHeader:hover .grid-svg {
  stroke: rgba(0, 0, 0, 0);
}
.fullscreen-header .bottom-header .bottom-header-block .href-bottom-header {
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 50px;
  margin-left: 20px;
  margin-top: 39px;
  transition: 0.2s;
}
.fullscreen-header .bottom-header .bottom-header-block .href-bottom-header:hover {
  color: #FF6600;
}
.fullscreen-header .bottom-header .bottom-header-block .inp-bottom-header {
  display: flex;
  width: calc(100% - 790px);
  height: 50px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin-left: auto;
  margin-top: 39px;
  margin-right: 0;
}
.fullscreen-header .bottom-header .bottom-header-block .inp-bottom-header input {
  border: 0;
  height: 50px;
  width: calc(100% - 50px);
  background: 0;
  border-radius: 10px;
  padding: 0;
  padding-left: 10px;
}
.fullscreen-header .bottom-header .bottom-header-block .inp-bottom-header input:focus-visible {
  outline: 0;
}
.fullscreen-header .bottom-header .bottom-header-block .inp-bottom-header button {
  background: 0;
  border: 0px;
  width: 50px;
  height: 48px;
  padding: 0;
  cursor: pointer;
  background: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.2s;
}
.fullscreen-header .bottom-header .bottom-header-block .inp-bottom-header button .search-svg-icon {
  width: 32px;
  height: 32px;
  margin: auto;
  fill: grey;
  transition: 0.2s;
}
.fullscreen-header .bottom-header .bottom-header-block .inp-bottom-header button:hover {
  background: rgba(201, 201, 201, 0.7);
}
.fullscreen-header .bottom-header .bottom-header-block .inp-bottom-header button:hover .search-svg-icon {
  fill: #FF6600;
}
.fullscreen-header .bottom-header .bottom-header-block .inp-bottom-header button:focus-visible {
  outline: 0;
}
.fullscreen-header .bottom-header .bottom-header-block .liked-product-cart-bottom-header {
  width: 50px;
  height: 50px;
  position: relative;
  margin-top: 39px;
  margin-left: 12px;
}
.fullscreen-header .bottom-header .bottom-header-block .liked-product-cart-bottom-header .like-cart-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 10px;
  margin-left: 0;
  transition: 0.2s;
}
.fullscreen-header .bottom-header .bottom-header-block .liked-product-cart-bottom-header .like-cart-icon:hover {
  fill: #FF6600;
}
.fullscreen-header .bottom-header .bottom-header-block .liked-product-cart-bottom-header span {
  position: absolute;
  top: auto;
  bottom: 0;
  right: 0px;
  width: 20px;
  height: 20px;
  width: 18px;
  height: 17px;
  font-size: 0.8em;
  line-height: 17px;
  color: #fff;
  border-radius: 100%;
  text-align: center;
  box-shadow: none;
  background: #FF6600;
}
.fullscreen-header .catalog {
  position: absolute;
  width: 100%;
  max-height: 0;
  background: white;
  overflow-y: scroll;
  transition: 0.3s;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 0;
  z-index: 10;
}
.fullscreen-header .catalog.active {
  max-height: calc(100vh - 128px);
  padding: 30px;
  padding-bottom: 64px;
}
.fullscreen-header .catalog::-webkit-scrollbar {
  width: 0;
}
.fullscreen-header .catalog .sub-catalog {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.fullscreen-header .catalog .sub-catalog a h1 {
  font-size: 30px;
  font-weight: unset;
  cursor: pointer;
  transition: color 0.2s;
}
.fullscreen-header .catalog .sub-catalog a h1:hover {
  color: #FF6600;
}
.fullscreen-header .catalog .sub-catalog a span {
  font-size: 24px;
  color: #333;
  cursor: pointer;
  transition: color 0.2s;
}
.fullscreen-header .catalog .sub-catalog a span:hover {
  color: #FF6600;
}
.fullscreen-header .catalog .sub-catalog a .more {
  color: #FF6600;
}
.fullscreen-header .favorite-menu {
  position: absolute;
  right: 20px;
  width: 600px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: white;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(153, 153, 153, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
}
.fullscreen-header .favorite-menu.active {
  opacity: 1;
  pointer-events: all;
}
.fullscreen-header .favorite-menu .body-favorite {
  width: 100%;
  height: 364px;
  overflow-y: scroll;
}
.fullscreen-header .favorite-menu .body-favorite::-webkit-scrollbar {
  width: 0;
}
.fullscreen-header .favorite-menu .body-favorite .items {
  display: flex;
  width: 100%;
  height: 150px;
  padding: 12px;
  border-bottom: 1px solid lightgrey;
  transition: 0.2s;
}
.fullscreen-header .favorite-menu .body-favorite .items img {
  width: 100px;
  height: 100px;
  margin: 13px;
  margin-left: 0;
}
.fullscreen-header .favorite-menu .body-favorite .items .name {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 124px;
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: left;
}
.fullscreen-header .favorite-menu .body-favorite .items .name a {
  margin: 0;
  font-weight: inherit;
  font-size: 24px;
  transition: color 0.2s;
}
.fullscreen-header .favorite-menu .body-favorite .items .name a:hover {
  color: #FF6600;
}
.fullscreen-header .favorite-menu .body-favorite .items .name span {
  margin-top: 10px;
  color: grey;
  font-size: 18px;
}
.fullscreen-header .favorite-menu .body-favorite .items .right {
  width: 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 13px;
  margin-bottom: 13px;
}
.fullscreen-header .favorite-menu .body-favorite .items .right span {
  grid-column-start: 1;
  grid-column-end: 3;
  font-weight: bold;
  font-size: 22px;
}
.fullscreen-header .favorite-menu .body-favorite .items .right .icon {
  width: 54px;
  height: 54px;
  margin-bottom: 0;
  margin-top: 14px;
  cursor: pointer;
}
.fullscreen-header .favorite-menu .body-favorite .items .right .icon svg {
  width: 30px;
  height: 30px;
  margin: 12px;
  transition: fill 0.2s;
}
.fullscreen-header .favorite-menu .body-favorite .items .right .icon .stroke {
  fill: none;
  stroke: black;
  transition: stroke 0.2s;
}
.fullscreen-header .favorite-menu .body-favorite .items .right .icon:hover svg {
  fill: #FF6600;
}
.fullscreen-header .favorite-menu .body-favorite .items .right .icon:hover .stroke {
  stroke: #FF6600;
}
.fullscreen-header .favorite-menu .btn-incart {
  width: 100%;
  height: 60px;
  box-shadow: 0 0 5px rgba(153, 153, 153, 0.4);
  border-top: 1px solid whitesmoke;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  line-height: 60px;
  color: #FF6600;
  cursor: pointer;
  transition: 0.4s;
}
.fullscreen-header .favorite-menu .btn-incart:hover {
  color: white;
  background: #FF6600;
}
.fullscreen-header .cart-menu {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 600px;
  height: 428px;
  right: 20px;
  background: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 0 10px rgba(153, 153, 153, 0.4);
  transition: opacity 0.2s ease-in-out;
}
.fullscreen-header .cart-menu.active {
  opacity: 1;
  pointer-events: all;
}
.fullscreen-header .cart-menu .cart-screen {
  width: 100%;
  height: 300px;
  border-bottom: 1px solid lightgrey;
  overflow-y: scroll;
}
.fullscreen-header .cart-menu .cart-screen::-webkit-scrollbar {
  width: 0px;
}
.fullscreen-header .cart-menu .cart-screen .item {
  display: flex;
  width: 100%;
  height: 150px;
  border-bottom: 1px solid lightgrey;
}
.fullscreen-header .cart-menu .cart-screen .item a {
  display: flex;
  width: calc(100% - 50px);
}
.fullscreen-header .cart-menu .cart-screen .item a img {
  width: 100px;
  height: 100px;
  margin: 25px;
  margin-left: 12px;
  margin-right: 12px;
}
.fullscreen-header .cart-menu .cart-screen .item a .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 150px);
  height: 150px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
}
.fullscreen-header .cart-menu .cart-screen .item a .info h2 {
  font-size: 24px;
  font-weight: inherit;
}
.fullscreen-header .cart-menu .cart-screen .item a .info span {
  color: grey;
}
.fullscreen-header .cart-menu .cart-screen .item svg {
  stroke: black;
  width: 26px;
  height: 26px;
  cursor: pointer;
  margin: 12px;
  margin-top: 25px;
  transition: stroke 0.2s;
}
.fullscreen-header .cart-menu .cart-screen .item svg:hover {
  stroke: #FF6600;
}
.fullscreen-header .cart-menu .info-cart {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid lightgrey;
}
.fullscreen-header .cart-menu .info-cart .clear {
  display: flex;
  height: 30px;
  margin-top: 16px;
  line-height: 30px;
  cursor: pointer;
  stroke: grey;
  color: grey;
  transition: 0.4s;
}
.fullscreen-header .cart-menu .info-cart .clear svg {
  width: 24px;
  height: 24px;
  margin: 3px;
}
.fullscreen-header .cart-menu .info-cart .clear:hover {
  color: #FF6600;
  stroke: #FF6600;
}
.fullscreen-header .cart-menu .info-cart .total {
  height: 30px;
  margin-top: 16px;
  margin-right: 12px;
  line-height: 30px;
}
.fullscreen-header .cart-menu .info-cart .total span {
  font-size: 20px;
  font-weight: bold;
}
.fullscreen-header .cart-menu .open-cart {
  width: 100%;
  height: 64px;
  line-height: 64px;
  color: #FF6600;
  transition: 0.4s;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}
.fullscreen-header .cart-menu .open-cart:hover {
  background: #FF6600;
  color: white;
}

.mobile-screen-header {
  display: none;
  width: 100%;
  height: 64px;
  background: white;
}
.mobile-screen-header .menu-btn-header {
  width: 40px;
  height: 40px;
  margin: 12px;
  fill: black;
  transition: fill 0.2s;
  cursor: pointer;
}
.mobile-screen-header .menu-btn-header:hover {
  fill: #FF6600;
}
.mobile-screen-header a {
  height: 64px;
  margin: auto;
}
.mobile-screen-header a .logo-btn-header-mobil {
  width: 300px;
  height: 40px;
  margin: 12px;
  transition: width 0.2s;
}
.mobile-screen-header a .logo-btn-header-mobil.active {
  width: 0px !important;
}
.mobile-screen-header .search-mobile-header {
  display: flex;
  height: 64px;
  margin-right: 0px;
  width: 64px;
  max-width: calc(100% - 152px);
  transition: width 0.3s;
}
.mobile-screen-header .search-mobile-header.active {
  width: 100% !important;
}
.mobile-screen-header .search-mobile-header .search-svg-mobile-header {
  width: 40px;
  height: 40px;
  margin: 12px;
  transition: fill 0.2s;
  cursor: pointer;
}
.mobile-screen-header .search-mobile-header .search-svg-mobile-header:hover {
  fill: #FF6600;
}
.mobile-screen-header .search-mobile-header .inp-hide-header {
  margin-top: 12px;
  height: 40px;
  width: 0px;
  border: 0px;
  padding: 0;
  transition: width 0.2s;
}
.mobile-screen-header .search-mobile-header .inp-hide-header:focus-visible {
  outline: 0;
}
.mobile-screen-header .search-mobile-header .inp-show-onclick {
  width: calc(100% - 64px);
  border-bottom: 1px solid grey;
}
.mobile-screen-header .cart-btn-header-mobil {
  width: 40px;
  height: 40px;
  margin: 12px;
  transition: fill 0.2s;
  cursor: pointer;
  align-self: flex-end;
}
.mobile-screen-header .cart-btn-header-mobil:hover {
  fill: #FF6600;
}

.block-screen {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: -100px;
  left: 0;
  background: rgba(150, 150, 150, 0.7);
  z-index: 99;
  padding-bottom: 100px;
}
.block-screen.active {
  opacity: 1;
  pointer-events: all;
}

.menu-slider {
  position: fixed;
  top: 0;
  bottom: -100px;
  left: -100%;
  width: 300px;
  background: white;
  overflow-x: hidden;
  transition: left 0.2s;
  z-index: 100;
  padding-bottom: 100px;
}
.menu-slider::-webkit-scrollbar {
  width: 0;
}
.menu-slider.active {
  left: 0;
}
.menu-slider-wrap {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: margin-left 0.3s;
}
.menu-slider-wrap::-webkit-scrollbar {
  width: 0;
}
.menu-slider-wrap .sub-catalog {
  display: none;
  flex-direction: column;
  align-items: start;
}
.menu-slider-wrap .sub-catalog.active {
  display: flex;
}
.menu-slider-wrap .sub-catalog span {
  font-size: 18px;
  line-height: 64px;
  margin-left: 12px;
  transition: color 0.2s;
}
.menu-slider-wrap .sub-catalog span:hover {
  color: #FF6600;
}
.menu-slider-wrap .page {
  width: 300px;
}
.menu-slider-wrap .page .back-btn-menu {
  display: flex;
  width: 100%;
  height: 64px;
  cursor: pointer;
}
.menu-slider-wrap .page .back-btn-menu .arrow-back-svg-icon {
  width: 24px;
  height: 24px;
  margin: 20px;
  margin-left: 12px;
  transform: rotate(-90deg);
  transition: 0.2s;
}
.menu-slider-wrap .page .back-btn-menu span {
  line-height: 64px;
  transition: 0.2s;
}
.menu-slider-wrap .page .back-btn-menu:hover .arrow-back-svg-icon {
  fill: #FF6600;
}
.menu-slider-wrap .page .back-btn-menu:hover span {
  color: #FF6600;
}
.menu-slider-wrap .page .menu-item {
  display: flex;
  width: 100%;
  height: 64px;
  line-height: 64px;
  justify-content: space-between;
  transition: color 0.2s;
  cursor: pointer;
}
.menu-slider-wrap .page .menu-item span {
  font-size: 18px;
  margin-left: 12px;
}
.menu-slider-wrap .page .menu-item .more-catalog-svg {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 22px;
  transform: rotate(90deg);
  transition: fill 0.2s;
}
.menu-slider-wrap .page .menu-item:hover {
  color: #FF6600;
  fill: #FF6600;
}
.menu-slider-wrap .page h3 {
  text-align: left;
  margin-left: 12px;
  color: #FF6600;
  width: calc(100% - 12px);
  height: 64px;
  line-height: 64px;
}
.menu-slider-wrap .page h4 {
  text-align: left;
  margin: 12px;
  width: calc(100% - 24px);
}
.menu-slider-wrap .page a {
  fill: #5281b8;
}
.menu-slider-wrap .page a .btn-menu-a {
  width: calc(100% - 12px);
  height: 64px;
  line-height: 64px;
  text-align: left;
  font-size: 18px;
  padding-left: 12px;
  transition: color 0.2s;
}
.menu-slider-wrap .page a .btn-menu-a:hover {
  color: #FF6600;
}
.menu-slider-wrap .page a .contact-menu-btn {
  display: flex;
  width: 100%;
  height: 64px;
  line-height: 64px;
  transition: color 0.2s;
  font-size: 14px;
  fill: black;
}
.menu-slider-wrap .page a .contact-menu-btn .phone-svg-menu {
  width: 24px;
  height: 24px;
  margin: 20px;
  margin-left: 12px;
  transition: fill 0.2s;
}
.menu-slider-wrap .page a .contact-menu-btn:hover {
  color: #FF6600;
  fill: #FF6600;
}
.menu-slider-wrap .page a .vk-svg-menu {
  width: 40px;
  height: 40px;
  transition: fill 0.2s;
}
.menu-slider-wrap .page a:hover {
  fill: rgba(82, 129, 184, 0.7);
}

.main .div-slider {
  width: 100%;
  height: 400px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.main .div-slider .inner-slider {
  position: relative;
  width: 1280px;
  height: 320px;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
}
.main .div-slider .inner-slider .back {
  position: absolute;
  left: 0px;
  top: 140px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: 0;
  border-radius: 5px;
  transition: 0.2s;
}
.main .div-slider .inner-slider .back svg {
  width: 24px;
  height: 24px;
  margin: 8px;
  fill: rgba(0, 0, 0, 0);
  transform: rotate(-90deg);
}
.main .div-slider .inner-slider .next {
  position: absolute;
  right: 0px;
  top: 140px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: 0;
  border-radius: 5px;
  transition: 0.2s;
}
.main .div-slider .inner-slider .next svg {
  width: 24px;
  height: 24px;
  margin: 8px;
  fill: rgba(0, 0, 0, 0);
  transform: rotate(90deg);
}
.main .div-slider .inner-slider:hover .back {
  left: 20px;
  background: rgba(153, 153, 153, 0.6);
}
.main .div-slider .inner-slider:hover .back svg {
  fill: white;
  transition: fill 0.2s;
}
.main .div-slider .inner-slider:hover .back:hover {
  background: #FF6600;
}
.main .div-slider .inner-slider:hover .next {
  right: 20px;
  background: rgba(153, 153, 153, 0.6);
}
.main .div-slider .inner-slider:hover .next svg {
  fill: white;
}
.main .div-slider .inner-slider:hover .next:hover {
  background: #FF6600;
  fill: white;
}
.main .div-slider .inner-slider .scroll-img {
  display: flex;
  margin-left: 0;
  transition: margin-left 0.4s;
}
.main .div-slider .inner-slider .scroll-img img {
  width: 1280px;
  height: 320px;
}
.main .home-page {
  width: 100%;
  border-top: 1px solid whitesmoke;
  padding-bottom: 40px;
}
.main .home-page .top {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
.main .home-page .top h2 {
  text-align: left;
  font-weight: inherit;
  text-shadow: 0 0 10px rgba(153, 153, 153, 0.6);
}
.main .home-page .top .show-btn {
  height: 50px;
  text-align: right;
  font-size: 18px;
  color: grey;
}
.main .home-page .top .show-btn span {
  margin-right: 20px;
  cursor: pointer;
  padding-bottom: 5px;
  transition: color 0.2s;
}
.main .home-page .top .show-btn span.active {
  color: black;
  text-decoration: underline;
  -webkit-text-decoration-color: #FF6600;
          text-decoration-color: #FF6600;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}
.main .home-page .top .show-btn span:hover {
  color: black;
}
.main .home-page .top .show-btn a {
  color: grey;
  margin-left: 20px;
  transition: color 0.2s;
}
.main .home-page .top .show-btn a:hover {
  color: #FF6600;
}
.main .home-page .body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  width: 80%;
  margin: auto;
}
.main .home-page .body .item {
  position: relative;
  width: 300px;
  height: 600px;
  padding: 12px;
  margin: 12px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  transition: box-shadow 0.4s;
}
.main .home-page .body .item:hover {
  box-shadow: 0 0 20px rgba(153, 153, 153, 0.8);
}
.main .home-page .body .item:hover .favorite {
  background: rgba(153, 153, 153, 0.8);
}
.main .home-page .body .item:hover .favorite:hover {
  background: rgba(153, 153, 153, 0.6);
}
.main .home-page .body .item:hover .favorite:hover svg {
  fill: #FF6600;
}
.main .home-page .body .item .img-scroll {
  position: relative;
  display: flex;
  width: 276px;
  height: 276px;
  cursor: pointer;
}
.main .home-page .body .item .img-scroll .hover-span-img {
  height: 280px;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  margin-left: 5px;
  border-bottom: 1px solid grey;
}
.main .home-page .body .item .img-scroll .hover-span-img img {
  display: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 5px;
  left: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 276px;
  height: 276px;
}
.main .home-page .body .item .img-scroll .hover-span-img.active {
  border-color: #FF6600;
}
.main .home-page .body .item .img-scroll .hover-span-img.active img {
  display: block;
}
.main .home-page .body .item h2 {
  text-align: left;
  margin-top: 12px;
  margin-bottom: 12px;
}
.main .home-page .body .item .favorite {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  transition: 0.2s;
  cursor: pointer;
}
.main .home-page .body .item .favorite svg {
  width: 40px;
  height: 40px;
  margin: 5px;
  transition: fill 0.2s;
}
.main .home-page .body .item .info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 245px;
  text-align: left;
}
.main .home-page .body .item .info a {
  font-size: 18px;
  transition: color 0.2s;
  max-height: 152px;
  overflow: hidden;
}
.main .home-page .body .item .info a:hover {
  color: #FF6600;
}
.main .home-page .body .item .info span {
  margin-top: 10px;
  font-size: 18px;
}
.main .home-page .body .item .info span.stock {
  color: green;
}
.main .home-page .body .item .info span.close {
  color: red;
}
.main .home-page .body .item .info .in-cart {
  width: 100%;
  height: 50px;
  color: #FF6600;
  text-align: center;
  line-height: 50px;
  margin-bottom: 0;
  margin-top: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: color 0.4s;
}
.main .home-page .body .item .info .in-cart:hover {
  color: grey;
}
.main .home-page .more {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.main .home-page .more::before {
  content: "";
  margin-top: 32px;
  margin-left: 5%;
  width: 35%;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
}
.main .home-page .more::after {
  content: "";
  margin-top: 32px;
  margin-right: 5%;
  width: 35%;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
}
.main .home-page .more a {
  height: 64px;
  line-height: 64px;
  font-size: 20px;
  color: grey;
  transition: color 0.2s;
}
.main .home-page .more a:hover {
  color: #FF6600;
}

.body-contact {
  width: 100%;
}
.body-contact .contact-block {
  display: flex;
  justify-content: end;
  width: 100%;
  border-top: 1px solid whitesmoke;
}
.body-contact .contact-block .contact-info {
  width: 40%;
  margin-left: 10%;
  text-align: left;
}
.body-contact .contact-block .contact-info h5 {
  color: grey;
  font-weight: inherit;
}
.body-contact .contact-block .contact-info span {
  font-size: 14px;
}
.body-contact .contact-block .map {
  width: 50%;
  margin: 40px;
}
.body-contact .contact-block .map div {
  width: 100%;
}
.body-contact .contact-block .map div iframe {
  width: 100%;
  height: calc(100vh - 192px);
}

.wrap {
  width: 100%;
  min-height: calc(100vh - 269px);
}
.wrap .path-block {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: left;
  width: 80%;
  margin: auto;
  color: grey;
}
.wrap .path-block a {
  transition: color 0.2s;
  color: grey;
}
.wrap .path-block a:hover {
  color: #FF6600;
}
.wrap .path-block h1 {
  color: black;
  font-weight: inherit;
}

footer {
  width: 100%;
  background: #333;
  min-height: 270px;
}
footer h5 {
  margin: 0;
  margin-top: 20px;
  margin-left: 10%;
  color: #999;
  text-align: left;
}
footer .btn-footer-flex {
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-top: 22px;
}
footer .btn-footer-flex .drop-menu-footer {
  width: 200px;
  text-align: left;
}
footer .btn-footer-flex .drop-menu-footer .btn-click-footer span {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}
footer .btn-footer-flex .drop-menu-footer .btn-click-footer .arrow-footer {
  display: none;
  width: 26px;
  height: 26px;
  margin: 12px;
  fill: white;
}
footer .btn-footer-flex .drop-menu-footer .drop-down-menu-footer {
  width: 100%;
  margin-top: 12px;
}
footer .btn-footer-flex .drop-menu-footer .drop-down-menu-footer div {
  width: 100%;
  height: 24px;
}
footer .btn-footer-flex .drop-menu-footer .drop-down-menu-footer div a {
  color: #999;
  margin-top: 5px;
  font-size: 14px;
  transition: color 0.2s;
}
footer .btn-footer-flex .drop-menu-footer .drop-down-menu-footer div a:hover {
  color: lightgrey;
}
footer .btn-footer-flex .contact-info-footer {
  width: 200px;
  text-align: left;
}
footer .btn-footer-flex .contact-info-footer .btn-callback-footer {
  width: 100%;
  height: 50px;
  background: rgba(153, 153, 153, 0.6);
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s;
}
footer .btn-footer-flex .contact-info-footer .btn-callback-footer:hover {
  background: #FF6600;
}
footer .btn-footer-flex .contact-info-footer a div {
  display: flex;
  width: 100%;
  height: 36px;
  margin-top: 5px;
  fill: #999;
  color: #999;
  font-size: 11px;
  line-height: 36px;
}
footer .btn-footer-flex .contact-info-footer a div .svg-icon-footer {
  width: 24px;
  height: 24px;
  margin: 6px;
  margin-left: 0px;
  transition: fill 0.2s;
}
footer .btn-footer-flex .contact-info-footer a div:hover {
  color: lightgrey;
  fill: lightgrey;
}
footer .line-footer {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
footer .line-footer::before {
  content: "";
  margin-top: 25px;
  width: 40%;
  height: 1px;
  background: rgba(255, 255, 255, 0.08);
}
footer .line-footer::after {
  content: "";
  margin-top: 25px;
  width: 40%;
  height: 1px;
  background: rgba(255, 255, 255, 0.08);
}
footer .line-footer div {
  display: inline-block;
  padding: 0 32px;
  background: #333;
}
footer .line-footer div a .vk-icon-footer {
  width: 50px;
  height: 50px;
  fill: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  transition: fill 0.2s;
}
footer .line-footer div a .vk-icon-footer:hover {
  fill: #5281b8;
}

@media screen and (max-width: 1200px) {
  .fullscreen-header .upper-header .upper-header-block {
    width: calc(100% - 40px);
  }
  .fullscreen-header .bottom-header .bottom-header-block {
    width: calc(100% - 40px);
  }
  .wrap .path-block {
    width: calc(100% - 24px);
    margin-left: 12px;
  }
  .body-contact .contact-block {
    justify-content: space-between;
  }
  .body-contact .contact-block .contact-info {
    margin-left: 12px;
  }
  .main .home-page .top {
    width: 100%;
    padding: 12px;
  }
  .main .home-page .body {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 970px) {
  .fullscreen-header {
    display: none;
  }
  .mobile-screen-header {
    display: flex;
  }
  .body-contact .contact-block {
    display: block;
  }
  .body-contact .contact-block .contact-info {
    width: 100%;
    margin-left: 12px;
  }
  .body-contact .contact-block .map {
    width: calc(100% - 24px);
    margin: 12px;
  }
}
@media screen and (max-width: 533px) {
  .mobile-screen-header .menu-btn-header {
    width: 24px;
    height: 24px;
    margin: 20px;
  }
  .mobile-screen-header a .logo-btn-header-mobil {
    width: 230px;
    height: 24px;
    margin: 0;
    margin-top: 20px;
  }
  .mobile-screen-header .search-mobile-header {
    height: 64px;
    width: 24px;
    max-width: calc(100% - 110px);
  }
  .mobile-screen-header .search-mobile-header .search-svg-mobile-header {
    width: 24px;
    height: 24px;
    margin: 0px;
    margin-top: 20px;
  }
  .mobile-screen-header .cart-btn-header-mobil {
    width: 24px;
    height: 24px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1000px) {
  footer h5 {
    margin-left: 12px;
  }
  footer .btn-footer-flex {
    width: calc(100% - 24px);
    margin-left: 12px;
    margin-right: 12px;
  }
  footer .btn-footer-flex .drop-menu-footer {
    margin-bottom: 20px;
  }
  footer .line-footer {
    width: calc(100% - 24px);
    margin-left: 12px;
    margin-right: 12px;
  }
  .main .home-page .body {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 838px) {
  .wrap {
    min-height: calc(100vh - 400px);
  }
  footer {
    min-height: 400px;
  }
  footer .btn-footer-flex {
    flex-wrap: wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }
}
@media screen and (max-width: 650px) {
  footer .btn-footer-flex {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  footer .btn-footer-flex .drop-menu-footer {
    width: 100%;
    margin: 0;
    overflow: hidden;
  }
  footer .btn-footer-flex .drop-menu-footer .btn-click-footer {
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    transition: background 0.2s;
  }
  footer .btn-footer-flex .drop-menu-footer .btn-click-footer:hover {
    background: rgba(153, 153, 153, 0.6);
  }
  footer .btn-footer-flex .drop-menu-footer .btn-click-footer span {
    margin-left: 12px;
  }
  footer .btn-footer-flex .drop-menu-footer .btn-click-footer .arrow-footer {
    transform: rotate(180deg);
    display: block;
    transition: transform 0.2s;
  }
  footer .btn-footer-flex .drop-menu-footer .btn-click-footer .arrow-footer.active {
    transform: rotate(0deg);
  }
  footer .btn-footer-flex .drop-menu-footer .drop-down-menu-footer {
    margin: 0px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s;
  }
  footer .btn-footer-flex .drop-menu-footer .drop-down-menu-footer div {
    width: 100%;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    transition: background 0.2s;
  }
  footer .btn-footer-flex .drop-menu-footer .drop-down-menu-footer div a {
    color: white;
    margin-left: 12px;
  }
  footer .btn-footer-flex .drop-menu-footer .drop-down-menu-footer div a:hover {
    color: white;
  }
  footer .btn-footer-flex .drop-menu-footer .drop-down-menu-footer div:hover {
    background: rgba(153, 153, 153, 0.6);
  }
  footer .btn-footer-flex .drop-menu-footer .drop-down-menu-footer.active {
    max-height: 150px;
  }
  footer .btn-footer-flex .contact-info-footer {
    margin: 12px;
    margin-top: 5px;
    width: calc(100% - 24px);
  }
  footer .btn-footer-flex .contact-info-footer a div {
    font-size: 14px;
  }
  footer .line-footer {
    width: calc(100% - 24px);
  }
  .main .home-page .top .show-btn {
    display: flex;
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 150px;
  }
  .main .home-page .top .show-btn a {
    margin-top: 6px;
    margin-left: 0;
  }
  .main .home-page .top .show-btn span {
    margin-right: 0;
  }
  .main .home-page .body {
    grid-template-columns: repeat(1, 1fr);
  }
  .main .home-page .more::before {
    width: 20%;
  }
  .main .home-page .more::after {
    width: 20%;
  }
}
@media screen and (max-width: 1300px) {
  .main .div-slider .inner-slider {
    position: relative;
    width: 900px;
  }
}
@media screen and (max-width: 920px) {
  .main .div-slider .inner-slider {
    position: relative;
    width: 700px;
  }
}
@media screen and (max-width: 720px) {
  .main .div-slider {
    display: none;
  }
}
@media screen and (max-width: 1700px) {
  .main .home-page .body {
    width: 100%;
  }
}
@media screen and (min-width: 2000px) {
  .main .home-page .body {
    grid-template-columns: repeat(5, 1fr);
  }
}/*# sourceMappingURL=main.css.map */