<div class="navigation-menu">
    <a href=""> 
        <div>Панель управления</div>
    </a>
    <div class="scrollbar">
        <div>Заказы</div> 
        <div>Категории</div>
        <div>Товары</div>
        <div>Аккаунты</div>
        <div>Настройка страниц</div>
    </div>
    <div class="exit">
        <svg>
            <use xlink:href="/main.svg#exit-svg"></use>
        </svg>
        <span>Выход</span>
    </div>
</div>

<div class="blur" onclick="openNavigation()"></div>

<div class="burger-btn" onclick="openNavigation()">
    <svg>
        <use xlink:href="/main.svg#menu-svg"></use>
    </svg>
</div>

<header>
    <a href="/">
        
            <svg>
                <use xlink:href="/main.svg#logo-svg"></use>
            </svg>

       
    </a>
    <form>
        <input type="text" name="" id="" placeholder="Search...">
        <button>
            <svg>
                <use xlink:href="/main.svg#search-svg"></use>
            </svg>
        </button>
    </form>
</header>