<div class="catalog-menu">
    <a href="/catalog">
        <div class="one-catalog-btn">
            <span>Внешний вид</span>
        </div>
    </a>
    <a href="/catalog">
        <div class="one-catalog-btn">
            <span>Внешний вид</span>
        </div>
    </a>
    <a href="/catalog">
        <div class="one-catalog-btn">
            <span>Внешний вид</span>
        </div>
    </a>
    <a href="/catalog">
        <div class="one-catalog-btn">
            <span>Внешний вид</span>
        </div>
    </a>
    <a href="/catalog">
        <div class="one-catalog-btn">
            <span>Внешний вид</span>
        </div>
    </a>
    <a href="/catalog">
        <div class="one-catalog-btn">
            <span>Внешний вид</span>
        </div>
    </a>
    <a href="/catalog">
        <div class="one-catalog-btn">
            <span>Внешний вид</span>
        </div>
    </a>
    <a href="/catalog">
        <div class="one-catalog-btn">
            <span>Внешний вид</span>
        </div>
    </a>
    <a href="/catalog">
        <div class="one-catalog-btn">
            <span>Внешний вид</span>
        </div>
    </a>
</div>
<div class="btn-show-hide-catalog show" onclick="functionShowHideCatalog(this)">
    <span>Показать всё</span>
</div>
<div class="flex-item">
    <form class="options-menu">
        <div>
            <h2>Выберите модель</h2>
            <select name="select">
                <option disabled>Выберите модель автомобиля</option>
                <option value="" selected>Для всех</option>
                <option value="">ВАЗ 2104</option>
                <option value="">ВАЗ 2105</option>
                <option value="">ВАЗ 2106</option>
                <option value="">ВАЗ 2107</option>
                <option value="">ВАЗ 2110-2112</option>
                <option value="">ВАЗ 2113-2115</option>
            </select>
        </div> 
        <div>
            <h2>Цена</h2>
            <div class="inp-flex">
                <input type="" name="" id="" placeholder="От 0" class="first">
                <input type="" name="" id="" placeholder="До 1000000" class="second">
            </div>
        </div> 
        <div>
            <h2>Бренд</h2>
            <div class="select-check">
                <input type="checkbox" name="name" id="1" class="checkbox">
                <label for="1">Test</label>
                <div class="checkbox-div">
                    <svg>
                        <use xlink:href="/main.svg#check-svg"></use>
                    </svg>
                </div>
            </div>
            <div class="select-check">
                <input type="checkbox" name="name" id="2" class="checkbox">
                <label for="2">Test</label>
                <div class="checkbox-div">
                    <svg>
                        <use xlink:href="/main.svg#check-svg"></use>
                    </svg>
                </div>
            </div>
            <div class="select-check">
                <input type="checkbox" name="name" id="3" class="checkbox">
                <label for="3">Test</label>
                <div class="checkbox-div">
                    <svg>
                        <use xlink:href="/main.svg#check-svg"></use>
                    </svg>
                </div>
            </div>
            <div class="select-check">
                <input type="checkbox" name="name" id="4" class="checkbox">
                <label for="4">Test</label>
                <div class="checkbox-div">
                    <svg>
                        <use xlink:href="/main.svg#check-svg"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div>
            <h2>Бренд</h2>
            <div class="select-check">
                <input type="checkbox" name="name1" id="11" class="checkbox">
                <label for="11">Test</label>
                <div class="checkbox-div">
                    <svg>
                        <use xlink:href="/main.svg#check-svg"></use>
                    </svg>
                </div>
            </div>
            <div class="select-check">
                <input type="checkbox" name="name1" id="22" class="checkbox">
                <label for="22">Test</label>
                <div class="checkbox-div">
                    <svg>
                        <use xlink:href="/main.svg#check-svg"></use>
                    </svg>
                </div>
            </div>
            <div class="select-check">
                <input type="checkbox" name="name1" id="33" class="checkbox">
                <label for="33">Test</label>
                <div class="checkbox-div">
                    <svg>
                        <use xlink:href="/main.svg#check-svg"></use>
                    </svg>
                </div>
            </div>
            <div class="select-check">
                <input type="checkbox" name="name1" id="44" class="checkbox">
                <label for="44">Test</label>
                <div class="checkbox-div">
                    <svg>
                        <use xlink:href="/main.svg#check-svg"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div>
            <h2>Бренд</h2>
            <div class="select-check">
                <input type="checkbox" name="name2" id="111" class="checkbox">
                <label for="111">Test</label>
                <div class="checkbox-div">
                    <svg>
                        <use xlink:href="/main.svg#check-svg"></use>
                    </svg>
                </div>
            </div>
            <div class="select-check">
                <input type="checkbox" name="name2" id="222" class="checkbox">
                <label for="222">Test</label>
                <div class="checkbox-div">
                    <svg>
                        <use xlink:href="/main.svg#check-svg"></use>
                    </svg>
                </div>
            </div>
            <div class="select-check">
                <input type="checkbox" name="name2" id="333" class="checkbox">
                <label for="333">Test</label>
                <div class="checkbox-div">
                    <svg>
                        <use xlink:href="/main.svg#check-svg"></use>
                    </svg>
                </div>
            </div>
            <div class="select-check">
                <input type="checkbox" name="name2" id="444" class="checkbox">
                <label for="444">Test</label>
                <div class="checkbox-div">
                    <svg>
                        <use xlink:href="/main.svg#check-svg"></use>
                    </svg>
                </div>
            </div>
        </div>
    </form>
    <div class="screen-menu">
        <div class="filter-menu">
            <span>Сортировка</span>
            <div class="sort-btn">
                <span>По алфавиту</span>
                <span>По популярности</span>
                <span>По стоимости</span>
            </div>
            <span class="svg">
                <svg>
                    <use xlink:href="/main.svg#filtr-svg"></use>
                </svg>
            </span>
        </div>
        <div class="items-grid">
            <div class="item" onmouseleave="leaveItem(this)">
                <div class="img-scroll">
                    <span class="hover-span-img first active" style="margin-left: 0px" onmouseenter="itemScroll(this)">
                        <img src="/images/items/1.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/2.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/3.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/4.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/5.png" alt="">
                    </span>
                    <div class="favorite">
                        <svg>
                            <use xlink:href="/main.svg#like-svg"></use>
                        </svg>
                    </div>
                </div>
                <h2>6000 ₽</h2>
                <div class="info">
                    <a href="">
                        Евроручки для ВАЗ 2110 - 2112 в сборе окрашенные в цвет кузова
                    </a>
                    <span class="stock">В наличии</span>
                    <div class="in-cart">
                        <span>В корзину</span>
                    </div>
                </div>
            </div>
            <div class="item" onmouseleave="leaveItem(this)">
                <div class="img-scroll">
                    <span class="hover-span-img first active" style="margin-left: 0px" onmouseenter="itemScroll(this)">
                        <img src="/images/items/1.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/2.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/3.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/4.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/5.png" alt="">
                    </span>
                    <div class="favorite">
                        <svg>
                            <use xlink:href="/main.svg#like-svg"></use>
                        </svg>
                    </div>
                </div>
                <h2>6000 ₽</h2>
                <div class="info">
                    <a href="">
                        Евроручки для ВАЗ 2110 - 2112 в сборе окрашенные в цвет кузова
                    </a>
                    <span class="stock">В наличии</span>
                    <div class="in-cart">
                        <span>В корзину</span>
                    </div>
                </div>
            </div>
            <div class="item" onmouseleave="leaveItem(this)">
                <div class="img-scroll">
                    <span class="hover-span-img first active" style="margin-left: 0px" onmouseenter="itemScroll(this)">
                        <img src="/images/items/1.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/2.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/3.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/4.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/5.png" alt="">
                    </span>
                    <div class="favorite">
                        <svg>
                            <use xlink:href="/main.svg#like-svg"></use>
                        </svg>
                    </div>
                </div>
                <h2>6000 ₽</h2>
                <div class="info">
                    <a href="">
                        Евроручки для ВАЗ 2110 - 2112 в сборе окрашенные в цвет кузова
                    </a>
                    <span class="stock">В наличии</span>
                    <div class="in-cart">
                        <span>В корзину</span>
                    </div>
                </div>
            </div>
            <div class="item" onmouseleave="leaveItem(this)">
                <div class="img-scroll">
                    <span class="hover-span-img first active" style="margin-left: 0px" onmouseenter="itemScroll(this)">
                        <img src="/images/items/1.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/2.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/3.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/4.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/5.png" alt="">
                    </span>
                    <div class="favorite">
                        <svg>
                            <use xlink:href="/main.svg#like-svg"></use>
                        </svg>
                    </div>
                </div>
                <h2>6000 ₽</h2>
                <div class="info">
                    <a href="">
                        Евроручки для ВАЗ 2110 - 2112 в сборе окрашенные в цвет кузова
                    </a>
                    <span class="stock">В наличии</span>
                    <div class="in-cart">
                        <span>В корзину</span>
                    </div>
                </div>
            </div>
            <div class="item" onmouseleave="leaveItem(this)">
                <div class="img-scroll">
                    <span class="hover-span-img first active" style="margin-left: 0px" onmouseenter="itemScroll(this)">
                        <img src="/images/items/1.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/2.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/3.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/4.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/5.png" alt="">
                    </span>
                    <div class="favorite">
                        <svg>
                            <use xlink:href="/main.svg#like-svg"></use>
                        </svg>
                    </div>
                </div>
                <h2>6000 ₽</h2>
                <div class="info">
                    <a href="">
                        Евроручки для ВАЗ 2110 - 2112 в сборе окрашенные в цвет кузова
                    </a>
                    <span class="stock">В наличии</span>
                    <div class="in-cart">
                        <span>В корзину</span>
                    </div>
                </div>
            </div>
            <div class="item" onmouseleave="leaveItem(this)">
                <div class="img-scroll">
                    <span class="hover-span-img first active" style="margin-left: 0px" onmouseenter="itemScroll(this)">
                        <img src="/images/items/1.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/2.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/3.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/4.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/5.png" alt="">
                    </span>
                    <div class="favorite">
                        <svg>
                            <use xlink:href="/main.svg#like-svg"></use>
                        </svg>
                    </div>
                </div>
                <h2>6000 ₽</h2>
                <div class="info">
                    <a href="">
                        Евроручки для ВАЗ 2110 - 2112 в сборе окрашенные в цвет кузова
                    </a>
                    <span class="stock">В наличии</span>
                    <div class="in-cart">
                        <span>В корзину</span>
                    </div>
                </div>
            </div>
            <div class="item" onmouseleave="leaveItem(this)">
                <div class="img-scroll">
                    <span class="hover-span-img first active" style="margin-left: 0px" onmouseenter="itemScroll(this)">
                        <img src="/images/items/1.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/2.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/3.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/4.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/5.png" alt="">
                    </span>
                    <div class="favorite">
                        <svg>
                            <use xlink:href="/main.svg#like-svg"></use>
                        </svg>
                    </div>
                </div>
                <h2>6000 ₽</h2>
                <div class="info">
                    <a href="">
                        Евроручки для ВАЗ 2110 - 2112 в сборе окрашенные в цвет кузова
                    </a>
                    <span class="stock">В наличии</span>
                    <div class="in-cart">
                        <span>В корзину</span>
                    </div>
                </div>
            </div>
            <div class="item" onmouseleave="leaveItem(this)">
                <div class="img-scroll">
                    <span class="hover-span-img first active" style="margin-left: 0px" onmouseenter="itemScroll(this)">
                        <img src="/images/items/1.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/2.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/3.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/4.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/5.png" alt="">
                    </span>
                    <div class="favorite">
                        <svg>
                            <use xlink:href="/main.svg#like-svg"></use>
                        </svg>
                    </div>
                </div>
                <h2>6000 ₽</h2>
                <div class="info">
                    <a href="">
                        Евроручки для ВАЗ 2110 - 2112 в сборе окрашенные в цвет кузова
                    </a>
                    <span class="stock">В наличии</span>
                    <div class="in-cart">
                        <span>В корзину</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>