<div class="main">
    <div class="div-slider">
        <div class="inner-slider">
            <div class="back" onclick="scrollSliderBtn(this)">
                <svg>
                    <use xlink:href="/main.svg#arrow-catalog-svg"></use>
                </svg>
            </div>
            <div class="next" onclick="scrollSliderBtn(this)">
                <svg>
                    <use xlink:href="/main.svg#arrow-catalog-svg"></use>
                </svg>
            </div>
            <div class="scroll-img">
                <img src="/images/slider/1.png" alt="">
                <img src="/images/slider/2.png" alt="">
                <img src="/images/slider/3.png" alt="">
            </div>
        </div>
    </div>
    <div class="home-page">
        <div class="top">
            <h2>Лучшие предложения</h2>
            <div class="show-btn">
                <span class="active" onclick="activeHome(this)">Популярные</span>
                <span onclick="activeHome(this)">Новинки</span>
                <span onclick="activeHome(this)">Акции</span>
                <a href="/catalog">Весь каталог</a>
            </div>
        </div>
        <div class="body">
            <div class="item" onmouseleave="leaveItem(this)">
                <div class="img-scroll">
                    <span class="hover-span-img first active" style="margin-left: 0px" onmouseenter="itemScroll(this)">
                        <img src="/images/items/1.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/2.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/3.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/4.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/5.png" alt="">
                    </span>
                </div>
                <h2>6000 ₽</h2>
                <div class="info">
                    <a href="">
                        Евроручки для ВАЗ 2110 - 2112 в сборе окрашенные в цвет кузова
                    </a>
                    <span class="stock">В наличии</span>
                    <div class="in-cart">
                        <span>В корзину</span>
                    </div>
                </div>
                <div class="favorite">
                    <svg>
                        <use xlink:href="/main.svg#like-svg"></use>
                    </svg>
                </div>
            </div>
            <div class="item" onmouseleave="leaveItem(this)">
                <div class="img-scroll">
                    <span class="hover-span-img first active" style="margin-left: 0px" onmouseenter="itemScroll(this)">
                        <img src="/images/items/1.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/2.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/3.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/4.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/5.png" alt="">
                    </span>
                </div>
                <h2>6000 ₽</h2>
                <div class="info">
                    <a href="">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet praesentium mollitia accusantium
                        ad. Deserunt dolorum possimus officiis quis asperiores sequi, id nam porro eius praesentium
                        corporis minima a! Rerum, tempore.
                        Molestias, veniam? Reprehenderit doloribus facere vitae obcaecati quo non nemo fugit recusandae
                        quas at, modi suscipit eius, quaerat vel totam temporibus quam unde accusantium libero iure ea
                        voluptatem inventore? Debitis!
                        Necessitatibus delectus minus laboriosam molestiae nulla optio, cumque aliquid. Accusamus
                        veritatis expedita temporibus deleniti cumque eveniet eos, amet ratione ea esse culpa debitis
                        tenetur reiciendis, nulla officia, doloribus ducimus placeat.
                        Repellat harum perspiciatis voluptas velit nisi, unde vel beatae ducimus cum, blanditiis eaque,
                        hic ad libero animi iusto at rem dolor accusantium voluptatum rerum nihil iure vitae modi!
                        Cupiditate, itaque.
                        Ducimus, ullam labore accusamus natus fugiat consequuntur beatae vero esse fugit quia
                        dignissimos est. Ipsam labore, impedit illum, minima beatae alias quasi non expedita perferendis
                        temporibus nemo. Tempora, voluptates ratione?
                        Pariatur corporis molestiae perspiciatis sapiente animi, saepe, asperiores similique inventore
                        expedita obcaecati, rerum dolorum voluptatem provident dolorem doloremque fugiat praesentium
                        quia. Aspernatur amet consequuntur voluptate corporis necessitatibus? Quam, ex nostrum.
                        Voluptas blanditiis tempora minus facilis beatae esse, possimus nihil adipisci vitae dolorum
                        exercitationem rerum repudiandae atque excepturi ratione. Veritatis ipsam iusto eum vel in
                        sapiente ut quod tenetur dolorum animi.
                        Sed similique error culpa nihil. Veritatis quos laboriosam hic a iste commodi doloribus nemo
                        magni rerum iusto minima porro accusantium, nihil repudiandae perspiciatis qui quisquam ex!
                        Recusandae et nisi sapiente!
                        Sequi cumque voluptate assumenda magni consequuntur eveniet explicabo amet vitae repudiandae
                        maiores quia excepturi omnis facere, at molestiae quis atque tenetur eos exercitationem officiis
                        laboriosam! Vero laboriosam impedit itaque quaerat!
                        Voluptatibus rem, accusamus esse quis ab, dolore minus nesciunt sed quidem natus distinctio.
                        Adipisci, distinctio rem! Soluta accusantium, quidem sint, natus rem reiciendis facilis, nisi
                        culpa iure doloremque facere magnam.
                        Optio laborum enim aliquid, molestiae sapiente magni rem rerum, cumque error quo quae tempore
                        expedita non veniam, nam recusandae! Est soluta distinctio adipisci laboriosam quibusdam ab
                        harum rerum, rem labore.
                        Magnam cupiditate pariatur, perspiciatis minima illum exercitationem hic expedita dolore
                        mollitia vel vero ullam corrupti iusto ipsa porro architecto, consequuntur non quisquam? Tempora
                        dolor atque fugiat tempore doloribus. Animi, nisi.
                        Reiciendis reprehenderit architecto incidunt quod eos odit quos expedita, assumenda suscipit.
                        Similique aliquid sed expedita ex eos voluptas autem dolores magnam natus atque distinctio
                        beatae, iure suscipit illo maiores rem.
                        Corporis adipisci vero provident, modi consectetur quae sit voluptates nam molestiae magni
                        doloribus cumque dignissimos dolorum officia veniam quas eos optio est aliquam enim incidunt
                        voluptas corrupti. Deleniti, dolorem quis.
                        Alias veritatis libero quaerat delectus exercitationem consectetur ad! Amet rerum enim
                        consequuntur rem ea sunt labore incidunt magnam modi, recusandae earum harum minus laudantium,
                        fuga atque eius ratione hic molestias?
                        Dignissimos, nihil sed, nobis quae aliquid veritatis ad amet omnis in nulla temporibus. Odit
                        fugit beatae voluptates nulla ipsam mollitia velit amet enim? A officiis nemo ex, rerum dolorem
                        tempore.
                        Provident odio voluptatem dolore incidunt inventore. Cum dolore sint deserunt dolores omnis
                        totam modi similique eligendi! Nihil facere fuga, quisquam recusandae veritatis iste, illo ut
                        sint quasi asperiores unde nulla?
                        Quas, eum nulla! Atque minima sit aliquam dolore, eligendi corrupti natus amet debitis neque
                        ducimus maiores voluptatum iure aspernatur molestiae et a fugit! Maiores, beatae. Quibusdam,
                        officiis velit. Animi, nobis?
                        Illum corrupti laborum rem esse accusamus? Illo eius accusamus reprehenderit corrupti suscipit,
                        tenetur ratione magni optio nostrum provident nihil fugit tempora consectetur. Voluptates,
                        ducimus atque nesciunt id distinctio et facilis.
                        Ut porro ullam laborum est inventore, quam quas rem, deserunt voluptates at vel, quae sed minus.
                        Vitae esse odit mollitia quam magni nam a, veritatis, iure expedita temporibus pariatur. At.
                    </a>
                    <span class="stock close">Нет в наличии</span>
                    <div class="in-cart">
                        <span>В корзину</span>
                    </div>
                </div>
                <div class="favorite">
                    <svg>
                        <use xlink:href="/main.svg#like-svg"></use>
                    </svg>
                </div>
            </div>
            <div class="item" onmouseleave="leaveItem(this)">
                <div class="img-scroll">
                    <span class="hover-span-img first active" style="margin-left: 0px" onmouseenter="itemScroll(this)">
                        <img src="/images/items/1.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/2.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/3.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/4.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/5.png" alt="">
                    </span>
                </div>
                <h2>6000 ₽</h2>
                <div class="info">
                    <a href="">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet praesentium mollitia accusantium
                        ad. Deserunt dolorum possimus officiis quis asperiores sequi, id nam porro eius praesentium
                        corporis minima a! Rerum, tempore.
                        Molestias, veniam? Reprehenderit doloribus facere vitae obcaecati quo non nemo fugit recusandae
                        quas at, modi suscipit eius, quaerat vel totam temporibus quam unde accusantium libero iure ea
                        voluptatem inventore? Debitis!
                        Necessitatibus delectus minus laboriosam molestiae nulla optio, cumque aliquid. Accusamus
                        veritatis expedita temporibus deleniti cumque eveniet eos, amet ratione ea esse culpa debitis
                        tenetur reiciendis, nulla officia, doloribus ducimus placeat.
                        Repellat harum perspiciatis voluptas velit nisi, unde vel beatae ducimus cum, blanditiis eaque,
                        hic ad libero animi iusto at rem dolor accusantium voluptatum rerum nihil iure vitae modi!
                        Cupiditate, itaque.
                        Ducimus, ullam labore accusamus natus fugiat consequuntur beatae vero esse fugit quia
                        dignissimos est. Ipsam labore, impedit illum, minima beatae alias quasi non expedita perferendis
                        temporibus nemo. Tempora, voluptates ratione?
                        Pariatur corporis molestiae perspiciatis sapiente animi, saepe, asperiores similique inventore
                        expedita obcaecati, rerum dolorum voluptatem provident dolorem doloremque fugiat praesentium
                        quia. Aspernatur amet consequuntur voluptate corporis necessitatibus? Quam, ex nostrum.
                        Voluptas blanditiis tempora minus facilis beatae esse, possimus nihil adipisci vitae dolorum
                        exercitationem rerum repudiandae atque excepturi ratione. Veritatis ipsam iusto eum vel in
                        sapiente ut quod tenetur dolorum animi.
                        Sed similique error culpa nihil. Veritatis quos laboriosam hic a iste commodi doloribus nemo
                        magni rerum iusto minima porro accusantium, nihil repudiandae perspiciatis qui quisquam ex!
                        Recusandae et nisi sapiente!
                        Sequi cumque voluptate assumenda magni consequuntur eveniet explicabo amet vitae repudiandae
                        maiores quia excepturi omnis facere, at molestiae quis atque tenetur eos exercitationem officiis
                        laboriosam! Vero laboriosam impedit itaque quaerat!
                        Voluptatibus rem, accusamus esse quis ab, dolore minus nesciunt sed quidem natus distinctio.
                        Adipisci, distinctio rem! Soluta accusantium, quidem sint, natus rem reiciendis facilis, nisi
                        culpa iure doloremque facere magnam.
                        Optio laborum enim aliquid, molestiae sapiente magni rem rerum, cumque error quo quae tempore
                        expedita non veniam, nam recusandae! Est soluta distinctio adipisci laboriosam quibusdam ab
                        harum rerum, rem labore.
                        Magnam cupiditate pariatur, perspiciatis minima illum exercitationem hic expedita dolore
                        mollitia vel vero ullam corrupti iusto ipsa porro architecto, consequuntur non quisquam? Tempora
                        dolor atque fugiat tempore doloribus. Animi, nisi.
                        Reiciendis reprehenderit architecto incidunt quod eos odit quos expedita, assumenda suscipit.
                        Similique aliquid sed expedita ex eos voluptas autem dolores magnam natus atque distinctio
                        beatae, iure suscipit illo maiores rem.
                        Corporis adipisci vero provident, modi consectetur quae sit voluptates nam molestiae magni
                        doloribus cumque dignissimos dolorum officia veniam quas eos optio est aliquam enim incidunt
                        voluptas corrupti. Deleniti, dolorem quis.
                        Alias veritatis libero quaerat delectus exercitationem consectetur ad! Amet rerum enim
                        consequuntur rem ea sunt labore incidunt magnam modi, recusandae earum harum minus laudantium,
                        fuga atque eius ratione hic molestias?
                        Dignissimos, nihil sed, nobis quae aliquid veritatis ad amet omnis in nulla temporibus. Odit
                        fugit beatae voluptates nulla ipsam mollitia velit amet enim? A officiis nemo ex, rerum dolorem
                        tempore.
                        Provident odio voluptatem dolore incidunt inventore. Cum dolore sint deserunt dolores omnis
                        totam modi similique eligendi! Nihil facere fuga, quisquam recusandae veritatis iste, illo ut
                        sint quasi asperiores unde nulla?
                        Quas, eum nulla! Atque minima sit aliquam dolore, eligendi corrupti natus amet debitis neque
                        ducimus maiores voluptatum iure aspernatur molestiae et a fugit! Maiores, beatae. Quibusdam,
                        officiis velit. Animi, nobis?
                        Illum corrupti laborum rem esse accusamus? Illo eius accusamus reprehenderit corrupti suscipit,
                        tenetur ratione magni optio nostrum provident nihil fugit tempora consectetur. Voluptates,
                        ducimus atque nesciunt id distinctio et facilis.
                        Ut porro ullam laborum est inventore, quam quas rem, deserunt voluptates at vel, quae sed minus.
                        Vitae esse odit mollitia quam magni nam a, veritatis, iure expedita temporibus pariatur. At.
                    </a>
                    <span class="stock">В наличии</span>
                    <div class="in-cart">
                        <span>В корзину</span>
                    </div>
                </div>
                <div class="favorite">
                    <svg>
                        <use xlink:href="/main.svg#like-svg"></use>
                    </svg>
                </div>
            </div>
            <div class="item" onmouseleave="leaveItem(this)">
                <div class="img-scroll">
                    <span class="hover-span-img first active" style="margin-left: 0px" onmouseenter="itemScroll(this)">
                        <img src="/images/items/1.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/2.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/3.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/4.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/5.png" alt="">
                    </span>
                </div>
                <h2>6000 ₽</h2>
                <div class="info">
                    <a href="">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet praesentium mollitia accusantium
                        ad. Deserunt dolorum possimus officiis quis asperiores sequi, id nam porro eius praesentium
                        corporis minima a! Rerum, tempore.
                        Molestias, veniam? Reprehenderit doloribus facere vitae obcaecati quo non nemo fugit recusandae
                        quas at, modi suscipit eius, quaerat vel totam temporibus quam unde accusantium libero iure ea
                        voluptatem inventore? Debitis!
                        Necessitatibus delectus minus laboriosam molestiae nulla optio, cumque aliquid. Accusamus
                        veritatis expedita temporibus deleniti cumque eveniet eos, amet ratione ea esse culpa debitis
                        tenetur reiciendis, nulla officia, doloribus ducimus placeat.
                        Repellat harum perspiciatis voluptas velit nisi, unde vel beatae ducimus cum, blanditiis eaque,
                        hic ad libero animi iusto at rem dolor accusantium voluptatum rerum nihil iure vitae modi!
                        Cupiditate, itaque.
                        Ducimus, ullam labore accusamus natus fugiat consequuntur beatae vero esse fugit quia
                        dignissimos est. Ipsam labore, impedit illum, minima beatae alias quasi non expedita perferendis
                        temporibus nemo. Tempora, voluptates ratione?
                        Pariatur corporis molestiae perspiciatis sapiente animi, saepe, asperiores similique inventore
                        expedita obcaecati, rerum dolorum voluptatem provident dolorem doloremque fugiat praesentium
                        quia. Aspernatur amet consequuntur voluptate corporis necessitatibus? Quam, ex nostrum.
                        Voluptas blanditiis tempora minus facilis beatae esse, possimus nihil adipisci vitae dolorum
                        exercitationem rerum repudiandae atque excepturi ratione. Veritatis ipsam iusto eum vel in
                        sapiente ut quod tenetur dolorum animi.
                        Sed similique error culpa nihil. Veritatis quos laboriosam hic a iste commodi doloribus nemo
                        magni rerum iusto minima porro accusantium, nihil repudiandae perspiciatis qui quisquam ex!
                        Recusandae et nisi sapiente!
                        Sequi cumque voluptate assumenda magni consequuntur eveniet explicabo amet vitae repudiandae
                        maiores quia excepturi omnis facere, at molestiae quis atque tenetur eos exercitationem officiis
                        laboriosam! Vero laboriosam impedit itaque quaerat!
                        Voluptatibus rem, accusamus esse quis ab, dolore minus nesciunt sed quidem natus distinctio.
                        Adipisci, distinctio rem! Soluta accusantium, quidem sint, natus rem reiciendis facilis, nisi
                        culpa iure doloremque facere magnam.
                        Optio laborum enim aliquid, molestiae sapiente magni rem rerum, cumque error quo quae tempore
                        expedita non veniam, nam recusandae! Est soluta distinctio adipisci laboriosam quibusdam ab
                        harum rerum, rem labore.
                        Magnam cupiditate pariatur, perspiciatis minima illum exercitationem hic expedita dolore
                        mollitia vel vero ullam corrupti iusto ipsa porro architecto, consequuntur non quisquam? Tempora
                        dolor atque fugiat tempore doloribus. Animi, nisi.
                        Reiciendis reprehenderit architecto incidunt quod eos odit quos expedita, assumenda suscipit.
                        Similique aliquid sed expedita ex eos voluptas autem dolores magnam natus atque distinctio
                        beatae, iure suscipit illo maiores rem.
                        Corporis adipisci vero provident, modi consectetur quae sit voluptates nam molestiae magni
                        doloribus cumque dignissimos dolorum officia veniam quas eos optio est aliquam enim incidunt
                        voluptas corrupti. Deleniti, dolorem quis.
                        Alias veritatis libero quaerat delectus exercitationem consectetur ad! Amet rerum enim
                        consequuntur rem ea sunt labore incidunt magnam modi, recusandae earum harum minus laudantium,
                        fuga atque eius ratione hic molestias?
                        Dignissimos, nihil sed, nobis quae aliquid veritatis ad amet omnis in nulla temporibus. Odit
                        fugit beatae voluptates nulla ipsam mollitia velit amet enim? A officiis nemo ex, rerum dolorem
                        tempore.
                        Provident odio voluptatem dolore incidunt inventore. Cum dolore sint deserunt dolores omnis
                        totam modi similique eligendi! Nihil facere fuga, quisquam recusandae veritatis iste, illo ut
                        sint quasi asperiores unde nulla?
                        Quas, eum nulla! Atque minima sit aliquam dolore, eligendi corrupti natus amet debitis neque
                        ducimus maiores voluptatum iure aspernatur molestiae et a fugit! Maiores, beatae. Quibusdam,
                        officiis velit. Animi, nobis?
                        Illum corrupti laborum rem esse accusamus? Illo eius accusamus reprehenderit corrupti suscipit,
                        tenetur ratione magni optio nostrum provident nihil fugit tempora consectetur. Voluptates,
                        ducimus atque nesciunt id distinctio et facilis.
                        Ut porro ullam laborum est inventore, quam quas rem, deserunt voluptates at vel, quae sed minus.
                        Vitae esse odit mollitia quam magni nam a, veritatis, iure expedita temporibus pariatur. At.
                    </a>
                    <span class="stock">В наличии</span>
                    <div class="in-cart">
                        <span>В корзину</span>
                    </div>
                </div>
                <div class="favorite">
                    <svg>
                        <use xlink:href="/main.svg#like-svg"></use>
                    </svg>
                </div>
            </div>
            <div class="item" onmouseleave="leaveItem(this)">
                <div class="img-scroll">
                    <span class="hover-span-img first active" style="margin-left: 0px" onmouseenter="itemScroll(this)">
                        <img src="/images/items/1.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/2.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/3.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/4.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/5.png" alt="">
                    </span>
                </div>
                <h2>6000 ₽</h2>
                <div class="info">
                    <a href="">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet praesentium mollitia accusantium
                        ad. Deserunt dolorum possimus officiis quis asperiores sequi, id nam porro eius praesentium
                        corporis minima a! Rerum, tempore.
                        Molestias, veniam? Reprehenderit doloribus facere vitae obcaecati quo non nemo fugit recusandae
                        quas at, modi suscipit eius, quaerat vel totam temporibus quam unde accusantium libero iure ea
                        voluptatem inventore? Debitis!
                        Necessitatibus delectus minus laboriosam molestiae nulla optio, cumque aliquid. Accusamus
                        veritatis expedita temporibus deleniti cumque eveniet eos, amet ratione ea esse culpa debitis
                        tenetur reiciendis, nulla officia, doloribus ducimus placeat.
                        Repellat harum perspiciatis voluptas velit nisi, unde vel beatae ducimus cum, blanditiis eaque,
                        hic ad libero animi iusto at rem dolor accusantium voluptatum rerum nihil iure vitae modi!
                        Cupiditate, itaque.
                        Ducimus, ullam labore accusamus natus fugiat consequuntur beatae vero esse fugit quia
                        dignissimos est. Ipsam labore, impedit illum, minima beatae alias quasi non expedita perferendis
                        temporibus nemo. Tempora, voluptates ratione?
                        Pariatur corporis molestiae perspiciatis sapiente animi, saepe, asperiores similique inventore
                        expedita obcaecati, rerum dolorum voluptatem provident dolorem doloremque fugiat praesentium
                        quia. Aspernatur amet consequuntur voluptate corporis necessitatibus? Quam, ex nostrum.
                        Voluptas blanditiis tempora minus facilis beatae esse, possimus nihil adipisci vitae dolorum
                        exercitationem rerum repudiandae atque excepturi ratione. Veritatis ipsam iusto eum vel in
                        sapiente ut quod tenetur dolorum animi.
                        Sed similique error culpa nihil. Veritatis quos laboriosam hic a iste commodi doloribus nemo
                        magni rerum iusto minima porro accusantium, nihil repudiandae perspiciatis qui quisquam ex!
                        Recusandae et nisi sapiente!
                        Sequi cumque voluptate assumenda magni consequuntur eveniet explicabo amet vitae repudiandae
                        maiores quia excepturi omnis facere, at molestiae quis atque tenetur eos exercitationem officiis
                        laboriosam! Vero laboriosam impedit itaque quaerat!
                        Voluptatibus rem, accusamus esse quis ab, dolore minus nesciunt sed quidem natus distinctio.
                        Adipisci, distinctio rem! Soluta accusantium, quidem sint, natus rem reiciendis facilis, nisi
                        culpa iure doloremque facere magnam.
                        Optio laborum enim aliquid, molestiae sapiente magni rem rerum, cumque error quo quae tempore
                        expedita non veniam, nam recusandae! Est soluta distinctio adipisci laboriosam quibusdam ab
                        harum rerum, rem labore.
                        Magnam cupiditate pariatur, perspiciatis minima illum exercitationem hic expedita dolore
                        mollitia vel vero ullam corrupti iusto ipsa porro architecto, consequuntur non quisquam? Tempora
                        dolor atque fugiat tempore doloribus. Animi, nisi.
                        Reiciendis reprehenderit architecto incidunt quod eos odit quos expedita, assumenda suscipit.
                        Similique aliquid sed expedita ex eos voluptas autem dolores magnam natus atque distinctio
                        beatae, iure suscipit illo maiores rem.
                        Corporis adipisci vero provident, modi consectetur quae sit voluptates nam molestiae magni
                        doloribus cumque dignissimos dolorum officia veniam quas eos optio est aliquam enim incidunt
                        voluptas corrupti. Deleniti, dolorem quis.
                        Alias veritatis libero quaerat delectus exercitationem consectetur ad! Amet rerum enim
                        consequuntur rem ea sunt labore incidunt magnam modi, recusandae earum harum minus laudantium,
                        fuga atque eius ratione hic molestias?
                        Dignissimos, nihil sed, nobis quae aliquid veritatis ad amet omnis in nulla temporibus. Odit
                        fugit beatae voluptates nulla ipsam mollitia velit amet enim? A officiis nemo ex, rerum dolorem
                        tempore.
                        Provident odio voluptatem dolore incidunt inventore. Cum dolore sint deserunt dolores omnis
                        totam modi similique eligendi! Nihil facere fuga, quisquam recusandae veritatis iste, illo ut
                        sint quasi asperiores unde nulla?
                        Quas, eum nulla! Atque minima sit aliquam dolore, eligendi corrupti natus amet debitis neque
                        ducimus maiores voluptatum iure aspernatur molestiae et a fugit! Maiores, beatae. Quibusdam,
                        officiis velit. Animi, nobis?
                        Illum corrupti laborum rem esse accusamus? Illo eius accusamus reprehenderit corrupti suscipit,
                        tenetur ratione magni optio nostrum provident nihil fugit tempora consectetur. Voluptates,
                        ducimus atque nesciunt id distinctio et facilis.
                        Ut porro ullam laborum est inventore, quam quas rem, deserunt voluptates at vel, quae sed minus.
                        Vitae esse odit mollitia quam magni nam a, veritatis, iure expedita temporibus pariatur. At.
                    </a>
                    <span class="stock">В наличии</span>
                    <div class="in-cart">
                        <span>В корзину</span>
                    </div>
                </div>
                <div class="favorite">
                    <svg>
                        <use xlink:href="/main.svg#like-svg"></use>
                    </svg>
                </div>
            </div>
            <div class="item" onmouseleave="leaveItem(this)">
                <div class="img-scroll">
                    <span class="hover-span-img first active" style="margin-left: 0px" onmouseenter="itemScroll(this)">
                        <img src="/images/items/1.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/2.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/3.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/4.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/5.png" alt="">
                    </span>
                </div>
                <h2>6000 ₽</h2>
                <div class="info">
                    <a href="">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet praesentium mollitia accusantium
                        ad. Deserunt dolorum possimus officiis quis asperiores sequi, id nam porro eius praesentium
                        corporis minima a! Rerum, tempore.
                        Molestias, veniam? Reprehenderit doloribus facere vitae obcaecati quo non nemo fugit recusandae
                        quas at, modi suscipit eius, quaerat vel totam temporibus quam unde accusantium libero iure ea
                        voluptatem inventore? Debitis!
                        Necessitatibus delectus minus laboriosam molestiae nulla optio, cumque aliquid. Accusamus
                        veritatis expedita temporibus deleniti cumque eveniet eos, amet ratione ea esse culpa debitis
                        tenetur reiciendis, nulla officia, doloribus ducimus placeat.
                        Repellat harum perspiciatis voluptas velit nisi, unde vel beatae ducimus cum, blanditiis eaque,
                        hic ad libero animi iusto at rem dolor accusantium voluptatum rerum nihil iure vitae modi!
                        Cupiditate, itaque.
                        Ducimus, ullam labore accusamus natus fugiat consequuntur beatae vero esse fugit quia
                        dignissimos est. Ipsam labore, impedit illum, minima beatae alias quasi non expedita perferendis
                        temporibus nemo. Tempora, voluptates ratione?
                        Pariatur corporis molestiae perspiciatis sapiente animi, saepe, asperiores similique inventore
                        expedita obcaecati, rerum dolorum voluptatem provident dolorem doloremque fugiat praesentium
                        quia. Aspernatur amet consequuntur voluptate corporis necessitatibus? Quam, ex nostrum.
                        Voluptas blanditiis tempora minus facilis beatae esse, possimus nihil adipisci vitae dolorum
                        exercitationem rerum repudiandae atque excepturi ratione. Veritatis ipsam iusto eum vel in
                        sapiente ut quod tenetur dolorum animi.
                        Sed similique error culpa nihil. Veritatis quos laboriosam hic a iste commodi doloribus nemo
                        magni rerum iusto minima porro accusantium, nihil repudiandae perspiciatis qui quisquam ex!
                        Recusandae et nisi sapiente!
                        Sequi cumque voluptate assumenda magni consequuntur eveniet explicabo amet vitae repudiandae
                        maiores quia excepturi omnis facere, at molestiae quis atque tenetur eos exercitationem officiis
                        laboriosam! Vero laboriosam impedit itaque quaerat!
                        Voluptatibus rem, accusamus esse quis ab, dolore minus nesciunt sed quidem natus distinctio.
                        Adipisci, distinctio rem! Soluta accusantium, quidem sint, natus rem reiciendis facilis, nisi
                        culpa iure doloremque facere magnam.
                        Optio laborum enim aliquid, molestiae sapiente magni rem rerum, cumque error quo quae tempore
                        expedita non veniam, nam recusandae! Est soluta distinctio adipisci laboriosam quibusdam ab
                        harum rerum, rem labore.
                        Magnam cupiditate pariatur, perspiciatis minima illum exercitationem hic expedita dolore
                        mollitia vel vero ullam corrupti iusto ipsa porro architecto, consequuntur non quisquam? Tempora
                        dolor atque fugiat tempore doloribus. Animi, nisi.
                        Reiciendis reprehenderit architecto incidunt quod eos odit quos expedita, assumenda suscipit.
                        Similique aliquid sed expedita ex eos voluptas autem dolores magnam natus atque distinctio
                        beatae, iure suscipit illo maiores rem.
                        Corporis adipisci vero provident, modi consectetur quae sit voluptates nam molestiae magni
                        doloribus cumque dignissimos dolorum officia veniam quas eos optio est aliquam enim incidunt
                        voluptas corrupti. Deleniti, dolorem quis.
                        Alias veritatis libero quaerat delectus exercitationem consectetur ad! Amet rerum enim
                        consequuntur rem ea sunt labore incidunt magnam modi, recusandae earum harum minus laudantium,
                        fuga atque eius ratione hic molestias?
                        Dignissimos, nihil sed, nobis quae aliquid veritatis ad amet omnis in nulla temporibus. Odit
                        fugit beatae voluptates nulla ipsam mollitia velit amet enim? A officiis nemo ex, rerum dolorem
                        tempore.
                        Provident odio voluptatem dolore incidunt inventore. Cum dolore sint deserunt dolores omnis
                        totam modi similique eligendi! Nihil facere fuga, quisquam recusandae veritatis iste, illo ut
                        sint quasi asperiores unde nulla?
                        Quas, eum nulla! Atque minima sit aliquam dolore, eligendi corrupti natus amet debitis neque
                        ducimus maiores voluptatum iure aspernatur molestiae et a fugit! Maiores, beatae. Quibusdam,
                        officiis velit. Animi, nobis?
                        Illum corrupti laborum rem esse accusamus? Illo eius accusamus reprehenderit corrupti suscipit,
                        tenetur ratione magni optio nostrum provident nihil fugit tempora consectetur. Voluptates,
                        ducimus atque nesciunt id distinctio et facilis.
                        Ut porro ullam laborum est inventore, quam quas rem, deserunt voluptates at vel, quae sed minus.
                        Vitae esse odit mollitia quam magni nam a, veritatis, iure expedita temporibus pariatur. At.
                    </a>
                    <span class="stock">В наличии</span>
                    <div class="in-cart">
                        <span>В корзину</span>
                    </div>
                </div>
                <div class="favorite">
                    <svg>
                        <use xlink:href="/main.svg#like-svg"></use>
                    </svg>
                </div>
            </div>
            <div class="item" onmouseleave="leaveItem(this)">
                <div class="img-scroll">
                    <span class="hover-span-img first active" style="margin-left: 0px" onmouseenter="itemScroll(this)">
                        <img src="/images/items/1.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/2.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/3.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/4.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/5.png" alt="">
                    </span>
                </div>
                <h2>6000 ₽</h2>
                <div class="info">
                    <a href="">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet praesentium mollitia accusantium
                        ad. Deserunt dolorum possimus officiis quis asperiores sequi, id nam porro eius praesentium
                        corporis minima a! Rerum, tempore.
                        Molestias, veniam? Reprehenderit doloribus facere vitae obcaecati quo non nemo fugit recusandae
                        quas at, modi suscipit eius, quaerat vel totam temporibus quam unde accusantium libero iure ea
                        voluptatem inventore? Debitis!
                        Necessitatibus delectus minus laboriosam molestiae nulla optio, cumque aliquid. Accusamus
                        veritatis expedita temporibus deleniti cumque eveniet eos, amet ratione ea esse culpa debitis
                        tenetur reiciendis, nulla officia, doloribus ducimus placeat.
                        Repellat harum perspiciatis voluptas velit nisi, unde vel beatae ducimus cum, blanditiis eaque,
                        hic ad libero animi iusto at rem dolor accusantium voluptatum rerum nihil iure vitae modi!
                        Cupiditate, itaque.
                        Ducimus, ullam labore accusamus natus fugiat consequuntur beatae vero esse fugit quia
                        dignissimos est. Ipsam labore, impedit illum, minima beatae alias quasi non expedita perferendis
                        temporibus nemo. Tempora, voluptates ratione?
                        Pariatur corporis molestiae perspiciatis sapiente animi, saepe, asperiores similique inventore
                        expedita obcaecati, rerum dolorum voluptatem provident dolorem doloremque fugiat praesentium
                        quia. Aspernatur amet consequuntur voluptate corporis necessitatibus? Quam, ex nostrum.
                        Voluptas blanditiis tempora minus facilis beatae esse, possimus nihil adipisci vitae dolorum
                        exercitationem rerum repudiandae atque excepturi ratione. Veritatis ipsam iusto eum vel in
                        sapiente ut quod tenetur dolorum animi.
                        Sed similique error culpa nihil. Veritatis quos laboriosam hic a iste commodi doloribus nemo
                        magni rerum iusto minima porro accusantium, nihil repudiandae perspiciatis qui quisquam ex!
                        Recusandae et nisi sapiente!
                        Sequi cumque voluptate assumenda magni consequuntur eveniet explicabo amet vitae repudiandae
                        maiores quia excepturi omnis facere, at molestiae quis atque tenetur eos exercitationem officiis
                        laboriosam! Vero laboriosam impedit itaque quaerat!
                        Voluptatibus rem, accusamus esse quis ab, dolore minus nesciunt sed quidem natus distinctio.
                        Adipisci, distinctio rem! Soluta accusantium, quidem sint, natus rem reiciendis facilis, nisi
                        culpa iure doloremque facere magnam.
                        Optio laborum enim aliquid, molestiae sapiente magni rem rerum, cumque error quo quae tempore
                        expedita non veniam, nam recusandae! Est soluta distinctio adipisci laboriosam quibusdam ab
                        harum rerum, rem labore.
                        Magnam cupiditate pariatur, perspiciatis minima illum exercitationem hic expedita dolore
                        mollitia vel vero ullam corrupti iusto ipsa porro architecto, consequuntur non quisquam? Tempora
                        dolor atque fugiat tempore doloribus. Animi, nisi.
                        Reiciendis reprehenderit architecto incidunt quod eos odit quos expedita, assumenda suscipit.
                        Similique aliquid sed expedita ex eos voluptas autem dolores magnam natus atque distinctio
                        beatae, iure suscipit illo maiores rem.
                        Corporis adipisci vero provident, modi consectetur quae sit voluptates nam molestiae magni
                        doloribus cumque dignissimos dolorum officia veniam quas eos optio est aliquam enim incidunt
                        voluptas corrupti. Deleniti, dolorem quis.
                        Alias veritatis libero quaerat delectus exercitationem consectetur ad! Amet rerum enim
                        consequuntur rem ea sunt labore incidunt magnam modi, recusandae earum harum minus laudantium,
                        fuga atque eius ratione hic molestias?
                        Dignissimos, nihil sed, nobis quae aliquid veritatis ad amet omnis in nulla temporibus. Odit
                        fugit beatae voluptates nulla ipsam mollitia velit amet enim? A officiis nemo ex, rerum dolorem
                        tempore.
                        Provident odio voluptatem dolore incidunt inventore. Cum dolore sint deserunt dolores omnis
                        totam modi similique eligendi! Nihil facere fuga, quisquam recusandae veritatis iste, illo ut
                        sint quasi asperiores unde nulla?
                        Quas, eum nulla! Atque minima sit aliquam dolore, eligendi corrupti natus amet debitis neque
                        ducimus maiores voluptatum iure aspernatur molestiae et a fugit! Maiores, beatae. Quibusdam,
                        officiis velit. Animi, nobis?
                        Illum corrupti laborum rem esse accusamus? Illo eius accusamus reprehenderit corrupti suscipit,
                        tenetur ratione magni optio nostrum provident nihil fugit tempora consectetur. Voluptates,
                        ducimus atque nesciunt id distinctio et facilis.
                        Ut porro ullam laborum est inventore, quam quas rem, deserunt voluptates at vel, quae sed minus.
                        Vitae esse odit mollitia quam magni nam a, veritatis, iure expedita temporibus pariatur. At.
                    </a>
                    <span class="stock">В наличии</span>
                    <div class="in-cart">
                        <span>В корзину</span>
                    </div>
                </div>
                <div class="favorite">
                    <svg>
                        <use xlink:href="/main.svg#like-svg"></use>
                    </svg>
                </div>
            </div>
            <div class="item" onmouseleave="leaveItem(this)">
                <div class="img-scroll">
                    <span class="hover-span-img first active" style="margin-left: 0px" onmouseenter="itemScroll(this)">
                        <img src="/images/items/1.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/2.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/3.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/4.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/5.png" alt="">
                    </span>
                </div>
                <h2>6000 ₽</h2>
                <div class="info">
                    <a href="">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet praesentium mollitia accusantium
                        ad. Deserunt dolorum possimus officiis quis asperiores sequi, id nam porro eius praesentium
                        corporis minima a! Rerum, tempore.
                        Molestias, veniam? Reprehenderit doloribus facere vitae obcaecati quo non nemo fugit recusandae
                        quas at, modi suscipit eius, quaerat vel totam temporibus quam unde accusantium libero iure ea
                        voluptatem inventore? Debitis!
                        Necessitatibus delectus minus laboriosam molestiae nulla optio, cumque aliquid. Accusamus
                        veritatis expedita temporibus deleniti cumque eveniet eos, amet ratione ea esse culpa debitis
                        tenetur reiciendis, nulla officia, doloribus ducimus placeat.
                        Repellat harum perspiciatis voluptas velit nisi, unde vel beatae ducimus cum, blanditiis eaque,
                        hic ad libero animi iusto at rem dolor accusantium voluptatum rerum nihil iure vitae modi!
                        Cupiditate, itaque.
                        Ducimus, ullam labore accusamus natus fugiat consequuntur beatae vero esse fugit quia
                        dignissimos est. Ipsam labore, impedit illum, minima beatae alias quasi non expedita perferendis
                        temporibus nemo. Tempora, voluptates ratione?
                        Pariatur corporis molestiae perspiciatis sapiente animi, saepe, asperiores similique inventore
                        expedita obcaecati, rerum dolorum voluptatem provident dolorem doloremque fugiat praesentium
                        quia. Aspernatur amet consequuntur voluptate corporis necessitatibus? Quam, ex nostrum.
                        Voluptas blanditiis tempora minus facilis beatae esse, possimus nihil adipisci vitae dolorum
                        exercitationem rerum repudiandae atque excepturi ratione. Veritatis ipsam iusto eum vel in
                        sapiente ut quod tenetur dolorum animi.
                        Sed similique error culpa nihil. Veritatis quos laboriosam hic a iste commodi doloribus nemo
                        magni rerum iusto minima porro accusantium, nihil repudiandae perspiciatis qui quisquam ex!
                        Recusandae et nisi sapiente!
                        Sequi cumque voluptate assumenda magni consequuntur eveniet explicabo amet vitae repudiandae
                        maiores quia excepturi omnis facere, at molestiae quis atque tenetur eos exercitationem officiis
                        laboriosam! Vero laboriosam impedit itaque quaerat!
                        Voluptatibus rem, accusamus esse quis ab, dolore minus nesciunt sed quidem natus distinctio.
                        Adipisci, distinctio rem! Soluta accusantium, quidem sint, natus rem reiciendis facilis, nisi
                        culpa iure doloremque facere magnam.
                        Optio laborum enim aliquid, molestiae sapiente magni rem rerum, cumque error quo quae tempore
                        expedita non veniam, nam recusandae! Est soluta distinctio adipisci laboriosam quibusdam ab
                        harum rerum, rem labore.
                        Magnam cupiditate pariatur, perspiciatis minima illum exercitationem hic expedita dolore
                        mollitia vel vero ullam corrupti iusto ipsa porro architecto, consequuntur non quisquam? Tempora
                        dolor atque fugiat tempore doloribus. Animi, nisi.
                        Reiciendis reprehenderit architecto incidunt quod eos odit quos expedita, assumenda suscipit.
                        Similique aliquid sed expedita ex eos voluptas autem dolores magnam natus atque distinctio
                        beatae, iure suscipit illo maiores rem.
                        Corporis adipisci vero provident, modi consectetur quae sit voluptates nam molestiae magni
                        doloribus cumque dignissimos dolorum officia veniam quas eos optio est aliquam enim incidunt
                        voluptas corrupti. Deleniti, dolorem quis.
                        Alias veritatis libero quaerat delectus exercitationem consectetur ad! Amet rerum enim
                        consequuntur rem ea sunt labore incidunt magnam modi, recusandae earum harum minus laudantium,
                        fuga atque eius ratione hic molestias?
                        Dignissimos, nihil sed, nobis quae aliquid veritatis ad amet omnis in nulla temporibus. Odit
                        fugit beatae voluptates nulla ipsam mollitia velit amet enim? A officiis nemo ex, rerum dolorem
                        tempore.
                        Provident odio voluptatem dolore incidunt inventore. Cum dolore sint deserunt dolores omnis
                        totam modi similique eligendi! Nihil facere fuga, quisquam recusandae veritatis iste, illo ut
                        sint quasi asperiores unde nulla?
                        Quas, eum nulla! Atque minima sit aliquam dolore, eligendi corrupti natus amet debitis neque
                        ducimus maiores voluptatum iure aspernatur molestiae et a fugit! Maiores, beatae. Quibusdam,
                        officiis velit. Animi, nobis?
                        Illum corrupti laborum rem esse accusamus? Illo eius accusamus reprehenderit corrupti suscipit,
                        tenetur ratione magni optio nostrum provident nihil fugit tempora consectetur. Voluptates,
                        ducimus atque nesciunt id distinctio et facilis.
                        Ut porro ullam laborum est inventore, quam quas rem, deserunt voluptates at vel, quae sed minus.
                        Vitae esse odit mollitia quam magni nam a, veritatis, iure expedita temporibus pariatur. At.
                    </a>
                    <span class="stock">В наличии</span>
                    <div class="in-cart">
                        <span>В корзину</span>
                    </div>
                </div>
                <div class="favorite">
                    <svg>
                        <use xlink:href="/main.svg#like-svg"></use>
                    </svg>
                </div>
            </div>
            <div class="item" onmouseleave="leaveItem(this)">
                <div class="img-scroll">
                    <span class="hover-span-img first active" style="margin-left: 0px" onmouseenter="itemScroll(this)">
                        <img src="/images/items/1.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/2.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/3.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/4.png" alt="">
                    </span>
                    <span class="hover-span-img" onmouseenter="itemScroll(this)">
                        <img src="/images/items/5.png" alt="">
                    </span>
                </div>
                <h2>6000 ₽</h2>
                <div class="info">
                    <a href="">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet praesentium mollitia accusantium
                        ad. Deserunt dolorum possimus officiis quis asperiores sequi, id nam porro eius praesentium
                        corporis minima a! Rerum, tempore.
                        Molestias, veniam? Reprehenderit doloribus facere vitae obcaecati quo non nemo fugit recusandae
                        quas at, modi suscipit eius, quaerat vel totam temporibus quam unde accusantium libero iure ea
                        voluptatem inventore? Debitis!
                        Necessitatibus delectus minus laboriosam molestiae nulla optio, cumque aliquid. Accusamus
                        veritatis expedita temporibus deleniti cumque eveniet eos, amet ratione ea esse culpa debitis
                        tenetur reiciendis, nulla officia, doloribus ducimus placeat.
                        Repellat harum perspiciatis voluptas velit nisi, unde vel beatae ducimus cum, blanditiis eaque,
                        hic ad libero animi iusto at rem dolor accusantium voluptatum rerum nihil iure vitae modi!
                        Cupiditate, itaque.
                        Ducimus, ullam labore accusamus natus fugiat consequuntur beatae vero esse fugit quia
                        dignissimos est. Ipsam labore, impedit illum, minima beatae alias quasi non expedita perferendis
                        temporibus nemo. Tempora, voluptates ratione?
                        Pariatur corporis molestiae perspiciatis sapiente animi, saepe, asperiores similique inventore
                        expedita obcaecati, rerum dolorum voluptatem provident dolorem doloremque fugiat praesentium
                        quia. Aspernatur amet consequuntur voluptate corporis necessitatibus? Quam, ex nostrum.
                        Voluptas blanditiis tempora minus facilis beatae esse, possimus nihil adipisci vitae dolorum
                        exercitationem rerum repudiandae atque excepturi ratione. Veritatis ipsam iusto eum vel in
                        sapiente ut quod tenetur dolorum animi.
                        Sed similique error culpa nihil. Veritatis quos laboriosam hic a iste commodi doloribus nemo
                        magni rerum iusto minima porro accusantium, nihil repudiandae perspiciatis qui quisquam ex!
                        Recusandae et nisi sapiente!
                        Sequi cumque voluptate assumenda magni consequuntur eveniet explicabo amet vitae repudiandae
                        maiores quia excepturi omnis facere, at molestiae quis atque tenetur eos exercitationem officiis
                        laboriosam! Vero laboriosam impedit itaque quaerat!
                        Voluptatibus rem, accusamus esse quis ab, dolore minus nesciunt sed quidem natus distinctio.
                        Adipisci, distinctio rem! Soluta accusantium, quidem sint, natus rem reiciendis facilis, nisi
                        culpa iure doloremque facere magnam.
                        Optio laborum enim aliquid, molestiae sapiente magni rem rerum, cumque error quo quae tempore
                        expedita non veniam, nam recusandae! Est soluta distinctio adipisci laboriosam quibusdam ab
                        harum rerum, rem labore.
                        Magnam cupiditate pariatur, perspiciatis minima illum exercitationem hic expedita dolore
                        mollitia vel vero ullam corrupti iusto ipsa porro architecto, consequuntur non quisquam? Tempora
                        dolor atque fugiat tempore doloribus. Animi, nisi.
                        Reiciendis reprehenderit architecto incidunt quod eos odit quos expedita, assumenda suscipit.
                        Similique aliquid sed expedita ex eos voluptas autem dolores magnam natus atque distinctio
                        beatae, iure suscipit illo maiores rem.
                        Corporis adipisci vero provident, modi consectetur quae sit voluptates nam molestiae magni
                        doloribus cumque dignissimos dolorum officia veniam quas eos optio est aliquam enim incidunt
                        voluptas corrupti. Deleniti, dolorem quis.
                        Alias veritatis libero quaerat delectus exercitationem consectetur ad! Amet rerum enim
                        consequuntur rem ea sunt labore incidunt magnam modi, recusandae earum harum minus laudantium,
                        fuga atque eius ratione hic molestias?
                        Dignissimos, nihil sed, nobis quae aliquid veritatis ad amet omnis in nulla temporibus. Odit
                        fugit beatae voluptates nulla ipsam mollitia velit amet enim? A officiis nemo ex, rerum dolorem
                        tempore.
                        Provident odio voluptatem dolore incidunt inventore. Cum dolore sint deserunt dolores omnis
                        totam modi similique eligendi! Nihil facere fuga, quisquam recusandae veritatis iste, illo ut
                        sint quasi asperiores unde nulla?
                        Quas, eum nulla! Atque minima sit aliquam dolore, eligendi corrupti natus amet debitis neque
                        ducimus maiores voluptatum iure aspernatur molestiae et a fugit! Maiores, beatae. Quibusdam,
                        officiis velit. Animi, nobis?
                        Illum corrupti laborum rem esse accusamus? Illo eius accusamus reprehenderit corrupti suscipit,
                        tenetur ratione magni optio nostrum provident nihil fugit tempora consectetur. Voluptates,
                        ducimus atque nesciunt id distinctio et facilis.
                        Ut porro ullam laborum est inventore, quam quas rem, deserunt voluptates at vel, quae sed minus.
                        Vitae esse odit mollitia quam magni nam a, veritatis, iure expedita temporibus pariatur. At.
                    </a>
                    <span class="stock">В наличии</span>
                    <div class="in-cart">
                        <span>В корзину</span>
                    </div>
                </div>
                <div class="favorite">
                    <svg>
                        <use xlink:href="/main.svg#like-svg"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="more">
            <a href="">Все товары</a>
        </div>
    </div>
</div>