/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  overflow: hidden;
  width: 100%;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
  background: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}
a:focus-visible {
  outline: 0;
}

.auth {
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 300px);
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(153, 153, 153, 0.8);
  border-radius: 5px;
}
.auth h1 {
  margin-top: 75px;
}
.auth a {
  width: 300px;
  height: 75px;
  margin: 20px auto 20px auto;
}
.auth a svg {
  width: 100%;
  height: 75px;
}
.auth div {
  display: flex;
  width: 350px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background: whitesmoke;
  text-align: left;
}
.auth div input {
  border: 0px;
  background: 0;
  width: calc(100% - 50px);
  height: 50px;
  padding-left: 10px;
}
.auth div input:focus-visible {
  outline: 0;
}
.auth div span {
  cursor: pointer;
}
.auth div span svg {
  margin: 10px;
  width: 30px;
  height: 30px;
  fill: grey;
  transition: fill 0.2s;
}
.auth div span:hover svg {
  fill: #FF6600;
}
.auth button {
  width: 350px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background: #FF6600;
  border: 0px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(153, 153, 153, 0.8);
  font-size: 18px;
  transition: 0.4s;
}
.auth button:hover {
  box-shadow: 0px 0px 10px #FF6600;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.6);
}

.navigation-menu {
  width: 300px;
  height: 100vh;
  background: #333;
  box-shadow: 0px 0px 20px rgba(153, 153, 153, 0.8);
}
.navigation-menu div {
  width: 100%;
  height: 64px;
  color: white;
  font-weight: inherit;
  font-size: 20px;
  line-height: 64px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  transition: color 0.2s;
  cursor: pointer;
}
.navigation-menu div:hover {
  color: #FF6600;
}
.navigation-menu .scrollbar {
  width: 100%;
  height: calc(100vh - 127px);
  overflow-y: scroll;
}
.navigation-menu .scrollbar::-webkit-scrollbar {
  width: 0px;
}
.navigation-menu .scrollbar div {
  width: 100%;
  height: 64px;
  color: white;
  font-weight: inherit;
  font-size: 20px;
  line-height: 64px;
  border: 0;
  transition: color 0.2s;
  cursor: pointer;
}
.navigation-menu .scrollbar div:hover {
  color: #FF6600;
}
.navigation-menu .exit {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 64px;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  cursor: pointer;
}
.navigation-menu .exit svg {
  fill: none;
  stroke: white;
  transition: stroke 0.2s;
  width: 32px;
  height: 32px;
  margin: 16px 0 16px 0;
}
.navigation-menu .exit span {
  color: white;
  line-height: 64px;
  font-size: 20px;
  transition: color 0.2s;
}
.navigation-menu .exit:hover svg {
  stroke: #FF6600;
}
.navigation-menu .exit:hover span {
  color: #FF6600;
}

.burger-btn {
  display: none;
}

.blur {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(153, 153, 153, 0.8);
  z-index: 2;
}
.blur.active {
  display: block;
}

.body {
  position: relative;
  width: calc(100% - 300px);
  height: 100vh;
}
.body header {
  width: 100%;
  height: 128px;
  background: white;
  border-bottom: 1px solid whitesmoke;
}
.body header a svg {
  width: 300px;
  height: 64px;
  margin: 0 12px 0 12px;
}
.body header form {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 64px;
}
.body header form input {
  width: calc(80% - 64px);
  height: 40px;
  margin: 11px 0 11px 0;
  border: 0;
  border-bottom: 1px solid lightgrey;
  padding-left: 12px;
}
.body header form input:focus-visible {
  outline: 0;
}
.body header form button {
  width: 40px;
  height: 40px;
  margin: 11px 0 11px 0;
  padding: 0;
  border: 0;
  background: 0;
  cursor: pointer;
}
.body header form button svg {
  width: 30px;
  height: 30px;
  margin: 5px;
  transition: fill 0.2s;
}
.body header form button:hover svg {
  fill: #FF6600;
}
.body .orders {
  display: none;
  overflow-y: scroll;
  scrollbar-width: auto;
  scrollbar-color: #999999 #ffffff;
}
.body .orders::-webkit-scrollbar {
  width: 16px;
}
.body .orders::-webkit-scrollbar-track {
  background: #ffffff;
}
.body .orders::-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
.body .orders.selected {
  display: block;
  width: 100%;
  max-height: calc(100vh - 128px);
}
.body .orders .sort-menu {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: 50px;
  line-height: 30px;
  border-bottom: 1px solid whitesmoke;
  background: white;
}
.body .orders .sort-menu .sort-type {
  padding: 0 12px 0 12px;
  height: 30px;
  border-left: 1px solid lightgrey;
  font-size: 16px;
  color: grey;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.2s;
}
.body .orders .sort-menu .sort-type:hover {
  color: #FF6600;
}
.body .orders .scroll {
  height: calc(100vh - 178px);
  overflow-y: scroll;
}
.body .orders .scroll::-webkit-scrollbar {
  width: 0;
}
.body .orders .scroll .order {
  width: 100%;
  background: white;
}
.body .orders .scroll .order .small {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(5, 1fr);
  line-height: 64px;
  height: 64px;
  cursor: pointer;
  transition: 0.2s;
}
.body .orders .scroll .order .small svg {
  margin: auto;
  fill: grey;
  width: 30px;
  height: 30px;
}
.body .orders .scroll .order .small:hover {
  background: rgba(153, 153, 153, 0.4);
}
.body .orders .scroll .order .full {
  width: calc(100% - 24px);
  max-height: 0px;
  margin: 12px;
  border: 0px solid lightgrey;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.2s;
}
.body .orders .scroll .order .full.active {
  max-height: 366px;
  border: 1px solid lightgrey;
}
.body .orders .scroll .order .full .scroll {
  width: 100%;
  height: 300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: scroll;
}
.body .orders .scroll .order .full .scroll::-webkit-scrollbar {
  width: 0;
}
.body .orders .scroll .order .full .scroll a .item {
  display: flex;
  width: 100%;
  height: 100px;
  padding: 12px;
  transition: 0.2s;
  overflow: hidden;
}
.body .orders .scroll .order .full .scroll a .item:hover {
  background: rgba(153, 153, 153, 0.2);
}
.body .orders .scroll .order .full .scroll a .item img {
  width: 78px;
  height: 78px;
  border-radius: 5px;
}
.body .orders .scroll .order .full .scroll a .item .info-block {
  width: calc(100% - 178px);
  height: 78px;
  text-align: left;
  padding-left: 12px;
  overflow: hidden;
}
.body .orders .scroll .order .full .scroll a .item .info-block span {
  font-size: 20px;
}
.body .orders .scroll .order .full .scroll a .item .info-block span.desc {
  font-size: 18px;
  color: grey;
}
.body .orders .scroll .order .full .scroll a .item .price {
  width: 100px;
  height: 78px;
  text-align: center;
}
.body .orders .scroll .order .full .scroll a .item .price span {
  font-size: 20px;
  font-weight: bold;
}
.body .orders .scroll .order .full .bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  line-height: 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid lightgrey;
}
.body .orders .scroll .order .full .bottom span {
  font-size: 20px;
  color: grey;
  margin: 12px;
}
.body .orders .scroll .order .full .bottom .btn {
  display: flex;
}
.body .orders .scroll .order .full .bottom .btn svg {
  width: 34px;
  height: 34px;
  margin: 15px;
  cursor: pointer;
  transition: fill 0.2s;
}
.body .orders .scroll .order .full .bottom .btn svg:hover {
  fill: #FF6600;
}
.body .categories {
  display: none;
  height: calc(100vh - 128px);
  width: 100%;
  padding: 12px;
  flex-wrap: nowrap;
}
.body .categories.selected {
  display: flex;
}
.body .categories::-webkit-scrollbar {
  height: 0px;
}
.body .categories .category {
  min-width: 300px;
  max-height: calc(100vh - 128px);
  border-left: 1px solid lightgrey;
  padding-left: 12px;
  overflow-y: scroll;
}
.body .categories .category::-webkit-scrollbar {
  width: 0;
}
.body .categories .category.first {
  border: 0px;
  padding: 0;
}
.body .categories .category h1 {
  text-align: left;
  font-size: 26px;
  margin-bottom: 12px;
}
.body .categories .category .redact {
  display: flex;
  width: 100%;
  height: 50px;
  cursor: pointer;
}
.body .categories .category .redact input {
  width: calc(100% - 100px);
  height: 50px;
  font-size: 18px;
  border: 0;
  outline: 0;
  background: 0;
}
.body .categories .category .redact svg {
  width: 30px;
  height: 30px;
  margin: 10px;
  fill: rgba(0, 0, 0, 0);
  transition: fill 0.2s;
}
.body .categories .category .redact .pencil.active {
  display: none;
}
.body .categories .category .redact .done {
  display: none;
}
.body .categories .category .redact .done.active {
  display: block;
}
.body .categories .category .redact:hover svg {
  fill: grey;
  transition: fill 0.2s;
}
.body .categories .category .redact:hover svg:hover {
  fill: #FF6600;
}
.body .categories .category .add {
  display: none;
  width: 100%;
  height: 50px;
}
.body .categories .category .add.active {
  display: flex;
}
.body .categories .category .add input {
  width: calc(100% - 100px);
  height: 30px;
  margin: 10px 0 10px 0;
  border: 0px;
  border-bottom: 1px solid lightgrey;
  outline: 0;
  background: 0;
}
.body .categories .category .add svg {
  width: 30px;
  height: 30px;
  margin: 10px;
  fill: grey;
  cursor: pointer;
  transition: 0.2s;
}
.body .categories .category .add svg:hover {
  fill: #FF6600;
}
.body .categories .category .add svg.close {
  stroke: grey;
}
.body .categories .category .add svg.close:hover {
  stroke: #FF6600;
}
.body .categories .category .show-add-menu {
  width: 100%;
  height: 50px;
  display: flex;
}
.body .categories .category .show-add-menu.active {
  display: none;
}
.body .categories .category .show-add-menu span {
  color: #FF6600;
  font-size: 18px;
  line-height: 50px;
  cursor: pointer;
}
.body .items {
  display: none;
  width: 100%;
  height: calc(100vh - 192px);
  padding: 12px;
  overflow-y: scroll;
}
.body .items::-webkit-scrollbar {
  width: 0;
}
.body .items.selected {
  display: block;
}
.body .items .item {
  display: flex;
  width: 100%;
  height: 200px;
  padding: 25px;
  border-radius: 5px;
  transition: 0.3s;
}
.body .items .item:hover {
  box-shadow: 0px 0px 20px rgba(153, 153, 153, 0.8);
}
.body .items .item .img-scroll {
  position: relative;
  display: flex;
  width: 150px;
  height: 150px;
  cursor: pointer;
}
.body .items .item .img-scroll .hover-span-img {
  height: 152px;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  margin-left: 5px;
  border-bottom: 1px solid grey;
}
.body .items .item .img-scroll .hover-span-img img {
  display: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 5px;
  left: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 150px;
  height: 150px;
}
.body .items .item .img-scroll .hover-span-img.active {
  border-color: #FF6600;
}
.body .items .item .img-scroll .hover-span-img.active img {
  display: block;
}
.body .items .item .about-item {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% - 250px);
  text-align: left;
  display: block;
  overflow: hidden;
}
.body .items .item .about-item a {
  font-size: 18px;
  transition: color 0.2s;
}
.body .items .item .about-item a:hover {
  color: #FF6600;
}
.body .items .item .about-item span {
  font-size: 14px;
  color: grey;
}
.body .items .item .btn-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
  height: 150px;
}
.body .items .item .btn-menu span {
  font-size: 18px;
}
.body .items .item .btn-menu .btn-setting {
  display: flex;
  width: 100%;
  height: 50px;
}
.body .items .item .btn-menu .btn-setting svg {
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
  fill: grey;
  transition: fill 0.2s;
}
.body .items .item .btn-menu .btn-setting svg:hover {
  fill: #FF6600;
}
.body .items .btn-add-item {
  position: absolute;
  bottom: 0;
  left: 12px;
  width: calc(100% - 24px);
  height: 64px;
  line-height: 64px;
  color: #FF6600;
  font-size: 20px;
  border-top: 1px solid lightgrey;
  cursor: pointer;
  transition: color 0.2s;
}
.body .items .btn-add-item:hover {
  color: grey;
}
.body .users {
  display: none;
}
.body .users.selected {
  display: block;
  width: 100%;
  height: calc(100vh - 129px);
}
.body .users h1 {
  width: 100%;
  line-height: 64px;
  font-weight: inherit;
  font-size: 24px;
  color: grey;
}
.body .users .all-admin {
  width: 100%;
  height: calc(100vh - 258px);
  overflow-y: scroll;
}
.body .users .all-admin::-webkit-scrollbar {
  width: 0px;
}
.body .users .all-admin .sort {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 64px;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.body .users .all-admin .sort span {
  color: grey;
  transition: color 0.2s;
  cursor: pointer;
  border-left: 1px solid lightgrey;
}
.body .users .all-admin .sort span:hover {
  color: #FF6600;
}
.body .users .all-admin .admin {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 64px;
  width: 100%;
  height: 64px;
  line-height: 64px;
  transition: 0.2s;
}
.body .users .all-admin .admin:hover {
  background: rgba(153, 153, 153, 0.2);
}
.body .users .all-admin .admin span {
  overflow: hidden;
}
.body .users .all-admin .admin svg {
  width: 30px;
  height: 30px;
  margin: 17px auto 17px auto;
  cursor: pointer;
  transition: fill 0.2s;
}
.body .users .all-admin .admin svg:hover {
  fill: #FF6600;
}
.body .users .btn-add-admin {
  position: absolute;
  bottom: 0;
  width: calc(100% - 24px);
  height: 64px;
  margin: 0px 12px 0px 12px;
  border-top: 1px solid lightgrey;
  cursor: pointer;
  line-height: 64px;
  font-size: 18px;
  color: grey;
  transition: color 0.2s;
}
.body .users .btn-add-admin:hover {
  color: #FF6600;
}

.blur-add {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(153, 153, 153, 0.8);
  z-index: 2;
  transition: opacity 0.2s;
}
.blur-add.active {
  opacity: 1;
  pointer-events: all;
}

.add-admin-menu {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 300px);
  width: 600px;
  height: 600px;
  padding: 0 12px 0 12px;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(153, 153, 153, 0.8);
  z-index: 3;
}
.add-admin-menu.active {
  opacity: 1;
  pointer-events: all;
}
.add-admin-menu h3 {
  line-height: 64px;
  font-weight: inherit;
  font-size: 20px;
  color: grey;
}
.add-admin-menu .inp-block {
  width: 400px;
  height: 392px;
  margin: auto;
}
.add-admin-menu .inp-block div {
  display: flex;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  transition: 0.2s;
  text-align: left;
}
.add-admin-menu .inp-block div:hover {
  border-color: grey;
}
.add-admin-menu .inp-block div input {
  width: calc(100% - 50px);
  height: 50px;
  border: 0;
  border-radius: 5px;
  padding-left: 10px;
}
.add-admin-menu .inp-block div input:focus-visible {
  outline: 0;
}
.add-admin-menu .inp-block div span svg {
  width: 30px;
  height: 30px;
  margin: 10px;
  fill: grey;
  cursor: pointer;
  transition: fill 0.2s;
}
.add-admin-menu .inp-block div span svg:hover {
  fill: #FF6600;
}
.add-admin-menu .inp-block select {
  width: 100%;
  height: 50px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  transition: 0.2s;
  text-align: left;
}
.add-admin-menu .inp-block select:hover {
  border-color: grey;
}
.add-admin-menu .inp-block select:focus-visible {
  outline: 0;
}
.add-admin-menu .btn {
  width: 100%;
  height: 64px;
  border: 0px;
  padding: 0;
  margin: 0;
  line-height: 64px;
  border-top: 1px solid lightgrey;
  background: white;
  font-size: 18px;
  color: #FF6600;
  cursor: pointer;
  transition: color 0.2s;
}
.add-admin-menu .btn :focus-visible {
  outline: 0;
}
.add-admin-menu .btn:hover {
  color: grey;
}

.edit-account {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 300px);
  width: 600px;
  height: 500px;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(153, 153, 153, 0.8);
  z-index: 3;
}
.edit-account.active {
  opacity: 1;
  pointer-events: all;
}
.edit-account h3 {
  font-weight: inherit;
  font-size: 24px;
  color: grey;
}
.edit-account form {
  width: 400px;
  height: 330px;
  margin: auto;
}
.edit-account form div {
  position: relative;
  display: flex;
  width: 100%;
  height: 50px;
  margin: 12px 0 12px 0;
  border: 1px solid lightgrey;
  border-radius: 5px;
  transition: 0.2s;
}
.edit-account form div:hover {
  border-color: grey;
}
.edit-account form div input {
  width: calc(100% - 50px);
  height: 50px;
  border: 0px;
  padding-left: 10px;
  background: 0;
}
.edit-account form div input:focus-visible {
  outline: 0;
}
.edit-account form div svg {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
  width: 30px;
  height: 30px;
  fill: grey;
  transition: 0.2s;
}
.edit-account form div svg:hover {
  fill: #FF6600;
}
.edit-account form div svg.active {
  opacity: 0;
  pointer-events: none;
}
.edit-account form div .show {
  opacity: 0;
  pointer-events: none;
}
.edit-account form div .show.active {
  opacity: 1;
  pointer-events: all;
}
.edit-account form select {
  width: 100%;
  height: 50px;
  margin: 12px 0 12px 0;
  padding-left: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  transition: 0.2s;
}
.edit-account form select:hover {
  border-color: grey;
}
.edit-account form select:focus-visible {
  outline: 0;
}
.edit-account button {
  width: calc(100% - 24px);
  height: 64px;
  line-height: 64px;
  background: white;
  border: 0;
  border-top: 1px solid lightgrey;
  cursor: pointer;
  color: #FF6600;
  font-size: 18px;
  transition: color 0.2s;
}
.edit-account button:focus-visible {
  outline: 0;
}
.edit-account button:hover {
  color: grey;
}

.close-row {
  text-align: right;
  width: 100%;
  height: 64px;
  padding: 12px;
}
.close-row svg {
  width: 40px;
  height: 40px;
  stroke: grey;
  cursor: pointer;
  transition: stroke 0.2s;
}
.close-row svg:hover {
  stroke: #FF6600;
}

.add-new-item {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  transition: 0.2s;
}
.add-new-item.active {
  opacity: 1;
  pointer-events: all;
}
.add-new-item .scroll-page {
  width: 100vw;
  max-height: calc(100vh - 128px);
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: auto;
  scrollbar-color: #999999 #ffffff;
}
.add-new-item .scroll-page::-webkit-scrollbar {
  width: 16px;
}
.add-new-item .scroll-page::-webkit-scrollbar-track {
  background: #ffffff;
}
.add-new-item .scroll-page::-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
.add-new-item .scroll-page .flex-menu-desc {
  display: flex;
  width: 80%;
  margin: auto;
}
.add-new-item .scroll-page .flex-menu-desc .preview {
  min-width: 400px;
  max-width: 400px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
}
.add-new-item .scroll-page .flex-menu-desc .preview .full-preview {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  transition: 0.2s;
}
.add-new-item .scroll-page .flex-menu-desc .preview .full-preview .img .add-img-item {
  display: none;
}
.add-new-item .scroll-page .flex-menu-desc .preview .full-preview .img .btn-delete {
  opacity: 0;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  transition: 0.4s;
}
.add-new-item .scroll-page .flex-menu-desc .preview .full-preview .img .btn-delete svg {
  width: 30px;
  height: 30px;
  fill: #FF6600;
  transition: fill 0.2s;
}
.add-new-item .scroll-page .flex-menu-desc .preview .full-preview .img .btn-delete svg:hover {
  fill: grey;
}
.add-new-item .scroll-page .flex-menu-desc .preview .full-preview .img .line-add {
  opacity: 0;
  position: absolute;
  top: calc(50% - 25px);
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  transition: opacity 0.4s;
}
.add-new-item .scroll-page .flex-menu-desc .preview .full-preview .img .line-add::before {
  content: "";
  margin-top: 25px;
  width: calc(50% - 70px);
  height: 1px;
  background: #FF6600;
  transition: 0.2s;
}
.add-new-item .scroll-page .flex-menu-desc .preview .full-preview .img .line-add::after {
  content: "";
  margin-top: 25px;
  width: calc(50% - 70px);
  height: 1px;
  background: #FF6600;
  transition: 0.2s;
}
.add-new-item .scroll-page .flex-menu-desc .preview .full-preview .img .line-add div {
  display: inline-block;
  line-height: 50px;
  width: 140px;
  font-size: 18px;
  color: #FF6600;
  cursor: pointer;
  transition: color 0.2s;
}
.add-new-item .scroll-page .flex-menu-desc .preview .full-preview .img .line-add:hover::before {
  background: grey;
}
.add-new-item .scroll-page .flex-menu-desc .preview .full-preview .img .line-add:hover::after {
  background: grey;
}
.add-new-item .scroll-page .flex-menu-desc .preview .full-preview .img .line-add:hover div {
  color: grey;
}
.add-new-item .scroll-page .flex-menu-desc .preview .full-preview .img img {
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
  border-radius: 5px;
  transition: 0.3s;
  border: 1px solid grey;
  border-radius: 5px;
}
.add-new-item .scroll-page .flex-menu-desc .preview .full-preview .img:hover img {
  filter: blur(4px);
}
.add-new-item .scroll-page .flex-menu-desc .preview .full-preview .img:hover .btn-delete {
  opacity: 1;
}
.add-new-item .scroll-page .flex-menu-desc .preview .full-preview .img:hover .line-add {
  opacity: 1;
}
.add-new-item .scroll-page .flex-menu-desc .preview .small-preview {
  display: flex;
  flex-direction: column;
  width: 83px;
  height: 300px;
  padding-left: 12px;
  overflow-y: scroll;
}
.add-new-item .scroll-page .flex-menu-desc .preview .small-preview::-webkit-scrollbar {
  width: 0;
}
.add-new-item .scroll-page .flex-menu-desc .preview .small-preview div {
  min-width: 71px;
  min-height: 71px;
  margin: 2px 0 2px 0;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: 0.2s;
}
.add-new-item .scroll-page .flex-menu-desc .preview .small-preview div img {
  width: 71px;
  height: 71px;
}
.add-new-item .scroll-page .flex-menu-desc .preview .small-preview div:hover {
  border: 1px solid #3AAACF;
}
.add-new-item .scroll-page .flex-menu-desc .preview .small-preview div.active {
  border: 1px solid #FF6600;
}
.add-new-item .scroll-page .flex-menu-desc .preview .price {
  width: 100%;
  height: 50px;
  border: 0;
  outline: 0;
  background: 0;
  border-bottom: 1px solid lightgrey;
}
.add-new-item .scroll-page .flex-menu-desc .descr-item {
  padding-left: 12px;
  text-align: left;
}
.add-new-item .scroll-page .flex-menu-desc .descr-item h3 {
  color: grey;
  font-size: 22px;
}
.add-new-item .scroll-page .flex-menu-desc .descr-item input {
  width: 500px;
  height: 50px;
  background: 0;
  border: 1px solid lightgrey;
  border-radius: 5px;
  outline: 0;
  margin: 12px 0 24px 0;
  padding-left: 5px;
}
.add-new-item .scroll-page .flex-menu-desc .descr-item textarea {
  width: 500px;
  height: 148px;
  resize: none;
  outline: 0;
  background: 0;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  margin-top: 12px;
}
.add-new-item .scroll-page h2 {
  color: grey;
}
.add-new-item .scroll-page .flex-menu-catalog {
  width: 80%;
  height: calc(100vh - 508px);
  min-height: 400px;
  padding: 12px 0 12px 0;
  margin: auto;
  display: flex;
}
.add-new-item .scroll-page .flex-menu-catalog .catalog {
  width: 300px;
  height: calc(100vh - 532px);
  min-height: 400px;
  padding-left: 12px;
  border-left: 1px solid lightgrey;
  overflow-y: scroll;
  line-height: 50px;
}
.add-new-item .scroll-page .flex-menu-catalog .catalog::-webkit-scrollbar {
  width: 0;
}
.add-new-item .scroll-page .flex-menu-catalog .catalog.first {
  border: 0px;
  padding-left: 0;
}
.add-new-item .scroll-page .flex-menu-catalog .catalog h3 {
  font-size: 24px;
  color: grey;
  margin-bottom: 12px;
}
.add-new-item .scroll-page .flex-menu-catalog div {
  text-align: left;
  width: 100%;
  height: 50px;
}
.add-new-item .scroll-page .flex-menu-catalog div input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.add-new-item .scroll-page .flex-menu-catalog div label {
  color: grey;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.2s;
}
.add-new-item .scroll-page .flex-menu-catalog div label:hover {
  color: black;
}
.add-new-item .scroll-page .flex-menu-catalog div label.select {
  color: #FF6600;
}
.add-new-item button {
  position: absolute;
  bottom: 0;
  left: 12px;
  width: calc(100% - 24px);
  height: 64px;
  background: 0;
  border: 0;
  border-top: 1px solid grey;
  color: #FF6600;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}
.add-new-item button:hover {
  color: grey;
  width: 100%;
  left: 0;
  background: rgba(153, 153, 153, 0.2);
}

@media screen and (max-width: 1200px) {
  .body .categories .category {
    min-width: auto;
    max-width: 250px;
  }
  .add-new-item .scroll-page .flex-menu-desc {
    width: 100%;
    padding: 0 12px 0 12px;
  }
  .add-new-item .scroll-page .flex-menu-catalog {
    width: 100%;
    padding: 12px;
  }
}
@media screen and (max-width: 940px) {
  .add-new-item .scroll-page .flex-menu-desc {
    display: block;
  }
  .add-new-item .scroll-page .flex-menu-desc .preview {
    margin: auto;
  }
  .add-new-item .scroll-page .flex-menu-desc .descr-item {
    padding: 12px;
    text-align: center;
  }
  .add-new-item .scroll-page .flex-menu-desc .descr-item h3 {
    text-align: center;
  }
  .add-new-item .scroll-page h2 {
    text-align: center;
  }
  .add-new-item .scroll-page .flex-menu-catalog {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 12px 0 12px 0;
    margin-left: 0;
    transition: margin-left 0.4s;
  }
  .add-new-item .scroll-page .flex-menu-catalog .catalog {
    width: 100vw;
    border: 0;
  }
  .add-new-item .scroll-page .flex-menu-catalog div {
    text-align: center;
  }
  .add-new-item .scroll-page .flex-menu-catalog div label {
    font-size: 22px;
  }
}
@media screen and (max-width: 900px) {
  .navigation-menu {
    position: absolute;
    margin-left: -300px;
    transition: margin-left 0.3s;
    z-index: 3;
  }
  .navigation-menu.active {
    margin-left: 0px;
  }
  .burger-btn {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 64px;
    width: 64px;
    cursor: pointer;
    z-index: 1;
  }
  .burger-btn svg {
    width: 50px;
    height: 50px;
    margin: 6px;
    transition: fill 0.2s;
  }
  .burger-btn:hover svg {
    fill: #FF6600;
  }
  .body {
    width: 100%;
  }
  .body header {
    width: 100%;
  }
  .body header form input {
    width: calc(100% - 64px);
  }
}
@media screen and (max-width: 700px) {
  .body .categories {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    transition: margin 0.4s;
  }
  .body .categories .category {
    min-width: calc(100vw - 12px);
    border: 0;
  }
  .body .categories .category .redact svg {
    fill: grey;
  }
}
@media screen and (max-width: 600px) {
  .auth {
    left: 0;
    width: 100%;
    box-shadow: 0 0 0 0;
  }
  .edit-account {
    border-radius: 0;
    width: 100%;
    left: 0;
  }
  .edit-account form {
    width: calc(100% - 24px);
  }
  .add-admin-menu {
    left: 0;
    width: 100%;
    height: 600px;
    padding: 12px;
    border-radius: 0;
  }
  .add-admin-menu .inp-block {
    width: calc(100% - 24px);
    height: 380px;
  }
}
@media screen and (max-width: 550px) {
  .add-new-item .scroll-page .flex-menu-desc {
    display: block;
  }
  .add-new-item .scroll-page .flex-menu-desc .preview {
    margin: auto;
  }
  .add-new-item .scroll-page .flex-menu-desc .descr-item h3 {
    color: grey;
    font-size: 22px;
  }
  .add-new-item .scroll-page .flex-menu-desc .descr-item input {
    width: 100%;
    margin: 12px 12px 24px 12px;
  }
  .add-new-item .scroll-page .flex-menu-desc .descr-item textarea {
    width: 100%;
    margin: 12px;
  }
}
@media screen and (max-width: 460px) {
  .body header {
    text-align: right;
  }
  .body .items .item {
    display: block;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .body .items .item .img-scroll {
    margin: auto;
  }
  .body .items .item .about-item {
    width: 100%;
    padding: 12px 0 12px 0;
  }
  .body .items .item .btn-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
  }
  .body .items .item .btn-menu .btn-setting {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 50px;
  }
  .body .items .item .btn-menu .btn-setting svg {
    width: 30px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
    fill: grey;
    transition: fill 0.2s;
  }
  .body .items .item .btn-menu .btn-setting svg:hover {
    fill: #FF6600;
  }
  .body .items .btn-add-item {
    position: absolute;
    bottom: 0;
    left: 12px;
    width: calc(100% - 24px);
    height: 64px;
    line-height: 64px;
    color: #FF6600;
    font-size: 20px;
    border-top: 1px solid lightgrey;
    cursor: pointer;
    transition: color 0.2s;
  }
  .body .items .btn-add-item:hover {
    color: grey;
  }
}
@media screen and (max-width: 440px) {
  .add-new-item {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    transition: 0.2s;
  }
  .add-new-item.active {
    opacity: 1;
    pointer-events: all;
  }
  .add-new-item .scroll-page .flex-menu-desc .preview {
    min-width: 262px;
    max-width: 262px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .add-new-item .scroll-page .flex-menu-desc .preview .full-preview {
    width: 200px;
    height: 200px;
  }
  .add-new-item .scroll-page .flex-menu-desc .preview .full-preview .img img {
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
  }
  .add-new-item .scroll-page .flex-menu-desc .preview .small-preview {
    width: 62px;
    height: 200px;
  }
  .add-new-item .scroll-page .flex-menu-desc .preview .small-preview div {
    min-width: 50px;
    min-height: 50px;
  }
  .add-new-item .scroll-page .flex-menu-desc .preview .small-preview div img {
    width: 50px;
    height: 50px;
  }
}/*# sourceMappingURL=admin.css.map */