<div class="blur-add" onclick="closeMenu()"></div>

<form class="add-admin-menu" name="createAccount" method="POST">
    <div class="close-row">
        <span onclick="closeMenu()">
            <svg>
                <use xlink:href="/main.svg#close-svg"></use>
            </svg>
        </span>
    </div>
    <h3>Добавить аккаунт</h3>
    <div class="inp-block">
        <div>
            <input type="login" name="newlogin" required placeholder="Логин...">
        </div>
        <div>
            <input type="mail" name="newemail"  required placeholder="Email...">
        </div>
        <div>
            <input type="password" name="newpassword" required placeholder="Пароль...">
            <span onclick="showInput(this)">
                <svg>
                    <use xlink:href="/main.svg#show-svg"></use>
                </svg>
            </span>
        </div>
        <div>
            <input type="password" name="password-repeat" required placeholder="Пароль ещё раз...">
            <span onclick="showInput(this)">
                <svg>
                    <use xlink:href="/main.svg#show-svg"></use>
                </svg>
            </span>
        </div>
        
        <select name="newlevel">
            <option disabled>Выберите сотрудника</option>
            <option value="1">Администратор</option>
            <option value="2">Редактор</option>
            <option value="3" selected>Менеджер</option>
        </select>
    </div>
    <button class="btn" type="submit" disabled>Сохранить</button>
</form>