<div class="add-new-item active">
    <div class="close-row">
        <span onclick="closeMenu()">
            <svg>
                <use xlink:href="/main.svg#close-svg"></use>
            </svg>
        </span>
    </div>
</div>